.sg-layout-controls.text-center(style="height: 36px")
    //- Assign
    i.fa.fa-check-square-o.sg-shadowed-text.control32(ng-click='paginator.changeStatus(layout)'
    ng-show='paginator.getAssignmentVisibility(paginator.currentUser.role, layout)'
    ng-class='paginator.getAssignmentClass(layout.status)')
    //- Eidt
    i.fa.fa-pencil-square-o.sg-green-i.sg-shadowed-text.control32(ng-click='openEditLayoutDialog(layout)'
    ng-show='layout.createdBy === paginator.currentUser.name || paginator.currentUser.role === "admin" || paginator.currentUser.role === "curator"')
    //- Remove
    i.fa.fa-remove.sg-red-i.sg-shadowed-text.control36(ng-click='paginator.confirmRemove(layout)'
    ng-show='layout.createdBy === paginator.currentUser.name || paginator.currentUser.role === "admin"')