//- row1
img.sg-flipv(src="img/3d-rooms/water-3d.gif" style="width:25%")
img.sg-flipb(src="img/3d-rooms/water-3d.gif" style="width:25%")
img.sg-flipv(src="img/3d-rooms/water-3d.gif" style="width:25%")
img.sg-flipb(src="img/3d-rooms/water-3d.gif" style="width:25%")
//- row2
img(src="img/3d-rooms/water-3d.gif" style="width:25%")
img.sg-fliph(src="img/3d-rooms/water-3d.gif" style="width:25%")
img(src="img/3d-rooms/water-3d.gif" style="width:25%")
img.sg-fliph(src="img/3d-rooms/water-3d.gif" style="width:25%")
//- row3
img.sg-flipv(src="img/3d-rooms/water-3d.gif" style="width:25%")
img.sg-flipb(src="img/3d-rooms/water-3d.gif" style="width:25%")
img.sg-flipv(src="img/3d-rooms/water-3d.gif" style="width:25%")
img.sg-flipb(src="img/3d-rooms/water-3d.gif" style="width:25%")
//- row4
img(src="img/3d-rooms/water-3d.gif" style="width:25%")
img.sg-fliph(src="img/3d-rooms/water-3d.gif" style="width:25%")
img(src="img/3d-rooms/water-3d.gif" style="width:25%")
img.sg-fliph(src="img/3d-rooms/water-3d.gif" style="width:25%")
