// row1
img(src="img/3d-rooms/smoke-3d.gif" style="width:16.66%; height:33.33%;")
img.sg-fliph(src="img/3d-rooms/smoke-3d.gif" style="width:16.66%; height:33.33%;")
img(src="img/3d-rooms/smoke-3d.gif" style="width:16.66%; height:33.33%;")
img.sg-fliph(src="img/3d-rooms/smoke-3d.gif" style="width:16.66%; height:33.33%;")
img(src="img/3d-rooms/smoke-3d.gif" style="width:16.66%; height:33.33%;")
img.sg-fliph(src="img/3d-rooms/smoke-3d.gif" style="width:16.66%; height:33.33%;")
// row2
img.sg-flipv(src="img/3d-rooms/smoke-3d.gif" style="width:16.66%; height:33.33%;")
img.sg-flipb(src="img/3d-rooms/smoke-3d.gif" style="width:16.66%; height:33.33%;")
img.sg-flipv(src="img/3d-rooms/smoke-3d.gif" style="width:16.66%; height:33.33%;")
img.sg-flipb(src="img/3d-rooms/smoke-3d.gif" style="width:16.66%; height:33.33%;")
img.sg-flipv(src="img/3d-rooms/smoke-3d.gif" style="width:16.66%; height:33.33%;")
img.sg-flipb(src="img/3d-rooms/smoke-3d.gif" style="width:16.66%; height:33.33%;")
// row3
img(src="img/3d-rooms/smoke-3d.gif" style="width:16.66%; height:33.33%;")
img.sg-fliph(src="img/3d-rooms/smoke-3d.gif" style="width:16.66%; height:33.33%;")
img(src="img/3d-rooms/smoke-3d.gif" style="width:16.66%; height:33.33%;")
img.sg-fliph(src="img/3d-rooms/smoke-3d.gif" style="width:16.66%; height:33.33%;")
img(src="img/3d-rooms/smoke-3d.gif" style="width:16.66%; height:33.33%;")
img.sg-fliph(src="img/3d-rooms/smoke-3d.gif" style="width:16.66%; height:33.33%;")
