extends layout
block content
    div(ng-controller='LayoutCtrl as layouter')
        include loader
        include header
        .sg-main-wrapper(ng-show='layouter.isSuccessful && layouter.currentPage == "main"')
            include wrapper-mainpage