doctype html

if url == '/'
    h1 Welcome to Stereo.Glass!
else if url == '/about'
    h1 About us
else if url == '/contacts'
    h1 Our contacts
else if url == '/dealers'
    h1 Dealers
else if url == '/shop'
    h1 Welcome to SG Shop


