doctype html
html(lang=en)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui')
        title Stereo.Glass
        link(rel='stylesheet',href='../css/screen.css')
        script(src='../libs/jquery/dist/jquery.min.js')
        script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js")
        script(src='../libs/jquery-horizontal-scroll/jquery.horizontalscroll.js')
        script(src='../libs/jquery-horizontal-scroll/jquery.touchswipe.js')
        script(src='../js/jquery.plate3d.js')
        script(src='../libs/lodash/lodash.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js')
        script(src='../js/sg.ui/sgPlate3d.dir.js')
        script(src='../js/sg.ui/sgCarousel.dir.js')
        script(src='../js/sg.ui/sgPreloader.svc.js')
        script(src='../js/sg.ui/sg.ui.js')
        script(src='../js/mainpage/Loader.ctrl.js')
        script(src='../js/mainpage/Custom.dir.js')
        script(src='../js/jqIndex.js')
        script(src='../js/ngIndex.js')

    body(ng-app="SGApp")
        block content