.horizon-prev: i.fa.fa-chevron-circle-left.fa-2x(ng-show='loader.isSuccessful')
.horizon-next: i.fa.fa-chevron-circle-right.fa-2x(ng-show='loader.isSuccessful')
.main-carousel.sg-carousel(ng-controller='SGMainCtrl as main' ng-show='loader.isSuccessful')
    sg-wide-screen(ratio='1.85')
    section.sg-main-sec0.sg-hor-scroll.sg-carousel-section
        .sg-video-overlay(for='videoclip')
        video#videoclip(preload='metadata')
            source(src='/video/clip.mp4')
            source(src='/video/clip.webm' type='video/webm')
        img#cinema.bg-room(ng-src="{{loader.getBkSrc('cinema', main.isWideScreen)}}")
    section.sg-main-sec1.sg-hor-scroll.sg-carousel-section
        img.sg-plate3d(coords='{{main.coords.clock}}' src="img/3d-rooms/clock-3d.gif" for='main-living-room')
        img.sg-plate3d(coords='{{main.coords.buddah}}' src="img/3d-rooms/buddha-3d.gif" for='main-living-room')
        img#main-living-room.bg-room(ng-src="{{loader.getBkSrc('livingroom', main.isWideScreen)}}")
    section.sg-main-sec2.sg-hor-scroll.sg-carousel-section
        //-sg-plate(scale="1")
        img.sg-plate3d(coords='{{main.coords.kitchen1}}' src="img/3d-rooms/kitchen-wall1-3d.gif" for='main-kitchen')
        img.sg-plate3d(coords='{{main.coords.kitchen2}}' src="img/3d-rooms/kitchen-wall2-3d.gif" for='main-kitchen')
        img.sg-plate3d(coords='{{main.coords.kitchen3}}' src="img/3d-rooms/kitchen-wall3-3d.gif" for='main-kitchen')
        .sg-plate3d(style="width: 1200px; height: 1200px;" coords='{{main.coords.kitchenfloor}}' for='main-kitchen')
            include _floor-kitchen
        img#main-kitchen.bg-room(ng-src="{{loader.getBkSrc('kitchen', main.isWideScreen)}}")
    section.sg-main-sec3.sg-hor-scroll.sg-carousel-section
        img.sg-plate3d(src="img/3d-rooms/teddybear-3d.gif", coords='{{main.coords.teddybear}}' for='main-childroom')
        img.sg-plate3d(src="img/3d-rooms/teddyhare-3d.gif", coords='{{main.coords.teddyhare}}' for='main-childroom')
        img.sg-plate3d(src="img/3d-rooms/teddycat-3d.gif", coords='{{main.coords.teddycat}}' for='main-childroom')
        img#main-childroom.bg-room(ng-src="{{loader.getBkSrc('childroom', main.isWideScreen)}}")
    section.sg-main-sec4.sg-hor-scroll.sg-carousel-section
        img.sg-plate3d(src="img/3d-rooms/pavilion-3d.gif", coords='{{main.coords.pavilion}}' for='main-bathroom')
        img.sg-plate3d(src="img/3d-rooms/pavilion-3d.gif", coords='{{main.coords.mirror}}' for='main-bathroom' style="z-index:9;")
        .sg-plate3d(style="width: 500px; height: 500px;", coords='{{main.coords.bathfloor}}' for='main-bathroom')
            include _floor-bathroom
        img#main-bathroom.bg-room(ng-src="{{loader.getBkSrc('bathroom', main.isWideScreen)}}")
    section.sg-main-sec5.sg-hor-scroll.sg-carousel-section
        img.sg-plate3d(src="img/3d-rooms/aqua-3d.gif", coords='{{main.coords.aqualeft}}' for='main-club')
        img.sg-plate3d(src="img/3d-rooms/aqua-3d.gif", coords='{{main.coords.aquaright}}' for='main-club')
        .sg-plate3d(style="width: 900px; 600px;", coords='{{main.coords.clubfloor}}' for='main-club')
            include _floor-club
        img#main-club.bg-room(ng-src="{{loader.getBkSrc('club', main.isWideScreen)}}")
    section.sg-main-sec6.sg-hor-scroll.sg-carousel-section
        img.sg-plate3d(src="img/3d-rooms/agat.gif", coords='{{main.coords.tray}}' for='main-caffee')
        img.sg-plate3d(src="img/3d-rooms/coffee-3d.gif", coords='{{main.coords.tableft}}' for='main-caffee')
        img.sg-plate3d(src="img/3d-rooms/citrus-3d.gif", coords='{{main.coords.tabmid}}' for='main-caffee')
        img.sg-plate3d(src="img/3d-rooms/strawberry-3d.gif", coords='{{main.coords.tabright}}' for='main-caffee')
        img.sg-plate3d(src="img/3d-rooms/beeline-3d.gif", coords='{{main.coords.advert}}' for='main-caffee')
        img#main-caffee.bg-room(ng-src="{{loader.getBkSrc('caffee', main.isWideScreen)}}")