ul.lang-switcher
    li.lang-selector(ng-repeat='lang in IntSvc.langs'
    ng-if='lang.code !== IntSvc.currentLang && lang.isActive'
    ng-click='switchLang(lang.code)')
        img(ng-src="{{ 'img/flags/' + lang.code + '.png' }}")
        span {{ lang.code }}