li
    a#flag-container(ng-click='toggleSwitcher()')
        img(ng-src="{{ 'img/flags/' + IntSvc.currentLang + '.png' }}")
        span(ng-bind='IntSvc.currentLang')
    ul.lang-switcher(click-outside='closeSwitcher()')
        li.lang-selector(ng-repeat='lang in IntSvc.langs'
        ng-if='lang.code !== IntSvc.currentLang && lang.isActive'
        ng-click='switchLang(lang.code)')
            img(ng-src="{{ 'img/flags/' + lang.code + '.png' }}")
            span(ng-bind='lang.code')