.sg-rating-block
    //- Star with rating value/vote voices
    span
        i.fa(ng-class="getRatingClassName()"
        ng-click="removeRating()"
        style="cursor:pointer;") &nbsp;
    b {{ linkedObject.average !== -1 ? linkedObject.average : 0 | number : 2 }}/{{ linkedObject.ratings.length }}
    br(ng-show='!oneRow')
    span(ng-show='oneRow') &nbsp;&nbsp;
    span(ng-if='!isAuthor && "deleted" !== linkedObject.status')
        i.fa(style="vertical-align: text-bottom; cursor: pointer"
        ng-class="{'fa-thumbs-o-down': linkedObject.rating != 0, 'fa-thumbs-down': linkedObject.rating == 0}"
        ng-click='markViewed()')
        rating(ng-model='linkedObject.rating' max='3' style="cursor: pointer")
    span(ng-if='isAuthor || "deleted" === linkedObject.status')
        i.fa.fa-thumbs-o-down.sg-silver-i
        | &nbsp;
        i.glyphicon.glyphicon-star-empty.sg-silver-i
        i.glyphicon.glyphicon-star-empty.sg-silver-i
        i.glyphicon.glyphicon-star-empty.sg-silver-i
