form[name=search] {
  float: right;
  position: relative;
}

#admin-button a {
  display: block;
  color: $wine-red;
  text-decoration: none;
}

#search-input {
  background-color: rgba($form-bg-color, .75);
  height: 16px;
  margin-top: 4px;

  @include on-sm {
    height: 20px;
    margin-top: 6px;
  }

  @include on-md {
    height: 24px;
    margin-top: 6px;
  }

  @include on-lg {
    height: 26px;
    margin-top: 6px;
  }

  padding: {
    bottom: 0;
    left: 10px;
    right: 30px;
    top: 0;
  }

  border: 0;
  border-radius: 10px;

  @include box-shadow(inset rgba(black, 0.5) 0 12px 10px -10px, inset 10px 0px 10px -10px rgba(0, 0, 0, 0.35), inset -10px 0px 10px -10px rgba(0, 0, 0, 0.35));

  @include input-placeholder {
    font-style: italic;
  }

  text-align: left;
  &:focus {
    outline: 0;
  }

  & + .fa {
    line-height: 7px;

    @include on-xs {
      line-height: 8px;
    }

    @include on-sm {
      line-height: 10px;
    }

    @include on-md {
      line-height: 14px;
    }

    @include on-lg {
      line-height: 16px;
    }

    margin-left: -34px;
    margin-right: 0;
    padding-left: 10px;
    position: relative;
    text-shadow: rgba(black, 0.35) 1px 1px 1px;
    z-index: 1;

  }
}

