nav {
  width: 100%;

  @media (min-width: 1400px) {
    width: 1040px;
  }

  ul.menu-pages {
    display: table;
    text-align: center;
    width: 100%;

    margin: 0; // prevent bootstrap rearrangement;
    padding: 0;

    li {
      display: table-cell;
      border-left: 1px solid rgba(white, 0.35);

      @include on-sm-plus {
        -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, rgba(250, 250, 250, 0.03)), to(rgba(250, 250, 250, 0.2)));
      }

      @include black-glossy-background;

      &.nav-selected {
        @include red-glossy-background;
      }

      a:focus {
        text-decoration: none;
      }

      a {
        display: block;
        cursor: pointer;

        text-shadow: 0 0 0;

        color: $top-menu-text-color;

        font: 11px/16px "Arial", sans;

        @include on-xs {
          padding-top: 2px;
          font: 11px/14px "Airbone";
        }

        @include on-sm {
          padding-top: 3px;
          font: 18px/25px "Airbone";
        }

        @include on-md {
          padding-top: 4px;
          font: 21px/33px "Airbone";
        }

        @include on-lg {
          padding-top: 8px;
          font: 24px/34px "Airbone";
          text-shadow: rgba(250, 250, 250, .25) 1px 1px 4px, rgba(100, 100, 110, .5) 0 5px 4px;
        }

        @include blicker;

        &:hover {
          color: $top-menu-text-color;
          transition: background-position 1s linear;
          background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
        }

        &.hovered {
          transition: background-position 1s linear;
          background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
        }
      }
    }
  }
}

.lang-selector ul {
  opacity: 0.75;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    cursor: pointer;
    list-style: none;
    height: 43px;

    @include on-xs {
      padding-top: 2px;
    }

    @include on-sm {
      padding-top: 3px;
    }

    @include on-md {
      padding-top: 4px;
    }

    @include on-lg {
      padding-top: 8px;
    }

    @include black-glossy-background
  }
}

.flag-container, .lang-selector {
  img {
    @include on-xs-minus {
      display: none;
    }

    @include on-xs {
      vertical-align: -4px;
      width: 25px;
      height: 14px;

      margin-left: -2px;
      margin-right: -1px;
      padding-bottom: 1px;
    }

    @include on-sm {
      vertical-align: -6px;
      width: 38px;
      height: 22px;

      margin-left: -5px;
      margin-right: -4px;
      padding-bottom: 1px;
    }

    @include on-md {
      vertical-align: -8px;
      width: 49px;
      height: 28px;

      margin-left: -5px;
      margin-right: -4px;
      padding-bottom: 1px;
    }

    @include on-lg {
      vertical-align: -8px;
      width: 56px;
      height: 32px;

      margin-left: -5px;
      margin-right: -4px;
      padding-bottom: 2px;
    }
  }

  span {
    @include on-xs-plus {
      display: none;
    }
  }
}

