.row
    .col-xs-6
        button.form-control.btn.btn-primary
            i.fa.fa-facebook-official
            |  Facebook
    .col-xs-6
        button.form-control.btn.btn-info
            i.fa.fa-twitter
            |  Twitter
    .col-xs-12
        br
        .controls
            p.small E-mail
    .col-xs-12: .input-group
        span.input-group-addon: i.fa.fa-envelope
        input.form-control(ng-model='vm.signInMail')
    .col-xs-12
        br
        .controls
            p.small Пароль
    .col-xs-12: .input-group
        span.input-group-addon: i.fa.fa-key
        input.form-control(ng-model='vm.signInPassword' type='password')
    .col-xs-12
        br
        button.form-control.btn.btn-primary(ng-click='vm.signIn()'
        ng-disabled='!(vm.signInMail && vm.signInPassword)')
            | Войти