doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Stereo.Glass auth

        link(rel='stylesheet', href='../stylesheets/vendor-auth.min.css?#{build.date}')
        link(rel='stylesheet', href='../stylesheets/custom-auth.min.css?#{build.date}')
        script(src='../scripts/vendor-auth.min.js?#{build.date}')
        script(src='../scripts/custom-auth.min.js?#{build.date}')

    body
        block content