extends authLayout
block content
    script(src='../libs/jquery/dist/jquery.min.js')
    script(src='../libs/bootstrap-validator/dist/validator.min.js')
    script(src='../js/jqLogin.js')

    .container: .row: .col-sm-6.col-md-4.col-md-offset-4
        h2.text-center Регистрация
        form#form-register(role='form', action="/auth/register", method="post")
            .form-group
                input.form-control(name='username', required, autofocus, placeholder='Имя пользователя')
            .form-group
                input.form-control(name="usermail", type='email', required, placeholder='адрес Email')
            .form-group
                input#input-password.form-control(type='password', name="password", required, placeholder='Пароль', data-minlength="6")
                span.help-block Минимальная длина пароля - 6 символов    
            .form-group
                input#input-password-confirm.form-control(type='password', name="passwordConfirm", required,
                placeholder='Подтверждение пароля' data-match='#input-password' data-match-error='Пароли не совпадают!')
                .help-block.with-errors
            .form-actions.text-center
                br
                a(href="/auth") У меня уже есть учетная запись
                br
                br
                button.btn.btn-default.text-center(type='submit') Регистрация