extends authLayout
block content
    br
    br
    .row
        .col-xs-4
        .col-xs-4
            form(method='POST')
            legend Сброс пароля
            .form-group
                label(for='password') Новый пароль
                input.form-control(type='password', name='password', value='', placeholder='Новый пароль', autofocus=true)
            .form-group
                label(for='confirm') Подтверждение пароля
                input.form-control(type='password', name='confirm', value='', placeholder='Подтверждение пароля')
            .form-group
                button.btn.btn-primary(type='submit') Изменить пароль