$wr_width: 1200px;
$bg_color: #ECECEC;
$wine-red: #9C1122;
$form-bg-color: #D6D6D6;
$top-menu-text-color: #F2F2F2;

$display-lg-width: 1200px;
$display-md-width: 992px;
$display-sm-width: 768px;
$display-xs-width: 480px;