.sg-btn {
  @include box-shadow(rgba($sg-black, .25) 0 0 2px 2px, inset 0 -4px 4px 4px rgba(0, 0, 0, .1));

  border-radius: 10px;
  color: rgba($sg-black, .7);
  cursor: pointer;
  float: right;
  font-style: italic;
  font-weight: bold;
  height: 16px;
  line-height: 16px;
  margin-top: 4px;
  padding-left: 10px;
  position: relative;
  z-index: 1;

  @include on-sm {
    height: 20px;
    line-height: 20px;
    margin-top: 6px;
  }

  @include on-md {
    height: 24px;
    line-height: 24px;
    margin-top: 6px;
  }

  @include on-lg {
    height: 26px;
    line-height: 26px;
    margin-top: 6px;
  }

  &:hover {
    color: $sg-winered;
  }

}
