.sg-l2-menu {
  display: table;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  width: 100%;

  li {
    border: 0;
    display: table-cell;
    padding: 0 0 0 1px;

    &.selected a {
      color: $sg-winered;
    }
  }

  a {
    border-radius: 2px;

    color: $sg-black;
    cursor: pointer;
    display: block;
    font: 11px/18px "Arial", sans;
    padding: 4px 0 0;
    text-shadow: rgba(250, 250, 250, .25) 1px 1px 4px,
    rgba(100, 100, 110, .5) 0 5px 4px;

    @include on-xs {
      font: 11px/18px "Airborne";
    }

    @include on-sm {
      font: 18px/29px "Airborne";
    }

    @include on-md {
      font: 21px/35px "Airborne";
    }

    @include on-lg {
      font: 24px/40px "Airborne";
    }

    &:hover {
      @include blicker-hover;
      color: $sg-winered;
    }

    &.hovered {
      @include blicker-hover;
    }

    &:focus {
      text-decoration: none;
    }

    &:active {
      color: mix($sg-winered, $sg-black, 50%);
    }
  }
}
