.sg-loader-container {
  left: 50%;
  position: absolute;
  top: 50%;

  @include on-xs-minus {
    height: auto;
    left: 0;
    top: 0;
    width: 100%;

    img {
      width: 100%;
    }
  }

  @include on-xs {
    height: 83px;
    margin-left: -187px;
    margin-top: -42px;
    width: 375px;

    img {
      width: 375px;
    }
  }

  @include on-sm {
    height: 111px;
    margin-left: -250px;
    margin-top: -55px;
    width: 500px;

    img {
      width: 500px;
    }
  }

  @include on-md {
    height: 166px;
    margin-left: -375px;
    margin-top: -83px;
    width: 750px;

    img {
      width: 750px;
    }
  }

  @include on-lg {
    height: 221px;
    margin-left: -500px;
    margin-top: -110px;
    width: 1000px;
    img {
      width: 1000px;
    }
  }

  img.bw {
    filter: grayscale(95%);
    filter: gray; /* IE6-9 */
    filter: url("data:image/svg+xml;utf8,<svg%20xmlns='http://www.w3.org/2000/svg'><filter%20id='grayscale'><feColorMatrix%20type='matrix'%20values='0.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200.3333%200.3333%200.3333%200%200%200%200%200%201%200'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    -webkit-filter: grayscale(95%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
  }

  .bar {
    overflow: hidden;
    position: absolute;
  }

  .progress {
    height: 100%;
    width: 0;
    background: none;
  }
}