html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  background: url('../img/background.jpg') repeat;
  font-family: Tahoma, sans-serif;
  margin: 0;

  @include on-xs-minus {
    font-size: 10px;
  }

  @include on-xs {
    font-size: 10px;
  }

  @include on-sm {
    font-size: 12px;
  }

  @include on-md {
    font-size: 14px;
  }

  @include on-lg {
    font-size: 16px;
  }

  &:before {
    @include box-shadow(rgba($sg-black, .25) 0 0 10px);
    content: '';
    height: 10px;
    left: 0;
    position: fixed;
    top: -10px;
    width: 100%;
    z-index: 100;
  }
}

.sg-wrapper {
  padding: 0;
  width: 100%;

  @media (min-width: 1400px) {
    width: 1400px;
  }
}

.sg-l2-wrapper {
  @include on-xs-plus {
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    right: 0;
  }

  @include on-xs {
    top: 42px;
  }

  @include on-sm {
    top: 62px;
  }

  @include on-md {
    top: 76px;
  }

  @include on-lg {
    top: 84px;
  }

  @media (min-width: 1400px) {
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
  }

  a:hover {
    text-decoration: none;
  }
}

