$nbfcolor: #F2F2F2;

.nav-button {
  height: 42px;
  color: $nbfcolor;
  font-family: "Airbone", helvetica, arial, sans-serif;
  font-size: 24px;

  @include border-radius(3px, 3px);

  @include black-glossy-background;

}

.nav-selected, .nav-button:hover {
  @include red-glossy-background;
}

