$nbfcolor: #F2F2F2;

.nav-button {
  height: 42px;
  color: $nbfcolor;
  font-family: "Airbone", helvetica, arial, sans-serif;
  font-size: 24px;

  @include border-radius(3px, 3px);

  // Gradient
  background-color: rgb(76, 76, 76); // Old browsers
  @include filter-gradient(#4c4c4c, #131313, vertical); // IE6-8
  // IE9 SVG, needs conditional override of 'filter' to 'none'
  $experimental-support-for-svg: true;
  @include background-image(
          linear-gradient(top, rgba(76, 76, 76, 1) 0%,
                  rgba(89, 89, 89, 1) 12%,
                  rgba(102, 102, 102, 1) 25%,
                  rgba(71, 71, 71, 1) 39%,
                  rgba(44, 44, 44, 1) 50%,
                  rgba(0, 0, 0, 1) 51%,
                  rgba(17, 17, 17, 1) 60%,
                  rgba(43, 43, 43, 1) 76%,
                  rgba(28, 28, 28, 1) 91%,
                  rgba(19, 19, 19, 1) 100%));

}

.nav-selected, .nav-button:hover {
  background-color: rgb(240, 240, 240); // Old browsers
  @include filter-gradient(#f0f0f0, #ba1c29, vertical); // IE6-8
  $experimental-support-for-svg: true;
  @include background-image(
          linear-gradient(top, rgba(240, 240, 240, 1) 1%,
                  rgba(240, 240, 240, 1) 1%,
                  rgba(238, 222, 225, 1) 3%,
                  rgba(209, 168, 174, 1) 6%,
                  rgba(171, 103, 112, 1) 50%,
                  rgba(125, 42, 52, 1) 89%,
                  rgba(186, 28, 41, 1) 95%));
}

