.sg-red-i {
    color: red !important;
}

.sg-orange-i {
    color: orange !important;
}

.sg-brown-i {
    color: saddlebrown !important;
}

.sg-yellow-i {
    color: yellow !important;
}

.sg-green-i {
    color: green !important;
}

.sg-blue-i {
    color: dodgerblue !important;
}

.sg-violet-i {
    color: darkmagenta !important;
}

.sg-black-i {
    color: black !important;
}

.sg-gold-i {
    color: #D9A441 !important;
}

.sg-silver-i {
    color: silver !important;
}

.sg-bronze-i {
    color: #8C7853 !important;
}

.sg-multicolor {
    color: darkgray;
}

#users-refresh {
    color: #23527c;
    cursor: pointer;
}

ul.sg-layoutlist {
    display: block;
    list-style: outside none none;
    padding: 0;
}

ul.sg-layoutlist li {
    display: list-item;
    margin-bottom: 10px;
}

.sg-layoutblock {
    display: block;
    width: 165px;
    height: 225px;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sg-layoutblock img {
    width: 125px;
    height: 125px;
    margin: 10px 20px;
    border: 1px solid #D4D4D4;
}

.sg-layoutblock.selected {
    background-color: lightyellow;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.sg-shadowed-text {
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.75);
}

.layout-info {
    /*background-color: lightyellow;*/
    margin-right: 20px;
    height: 270px;
}

.sg-rating-block span {
    outline: none;
}

.sg-rating-block i {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    user-select: none;

    color: #23527c;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.75);
}

.sg-rate-paginator select {
    width: auto;
    display: inline-block;
    vertical-align: top;
    margin: 20px 5px;
}

.sg-rate-paginator span {
    display: inline-block;
    vertical-align: top;
    line-height: 32px;
    margin: 20px 15px 5px;
}

/* Img crop container */

img.sg-cropped {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border: 1px solid lightgray;
}

.sg-rating-block i.glyphicon-star, .sg-rating-block i.glyphicon-star-empty {
    text-indent: 0.3em;
}