.panel(ng-controller='Gallery as gallery')
    br
    //- Switch mode
    .row
        .col-xs-1
            | &nbsp;&nbsp;
            label.btn.btn-primary(ng-click="gallery.resetAll()")
                i.fa.fa-close
        .col-xs-2
            .form-group
                label.control-label Найдено
                | &nbsp;&nbsp;
                label.btn.btn-default(ng-disabled='true') {{ gallery.filteredLayouts.length }}
        .col-xs-9
            include gallery/view-mode

    .row
        //- Server filters
        include gallery/filters-server

    .row
        include gallery/filters-client


    //- top pagination controls
    include gallery/pagination-controls

    //- pagination
    .row: ul.sg-layout-list
        li.sg-layout.col-xs-6.col-sm-3.col-md-3.col-lg-2(dir-paginate="layout in \
                gallery.filteredLayouts = (gallery.rawLayouts | \
                filter: gallery.viewModeFilter | filter: gallery.search.filter | \
                orderBy: gallery.sortOrder.current.value) | \
                itemsPerPage: gallery.pager.ipp"
        current-page="gallery.pager.currentPage")
            //- layout controls
            sg-layout-toolbar(layout='layout' gallery='gallery'
            is-current='gallery.pager.$index === $index')
            //- layout-block
            include gallery/layout-block

    //- bottom pagination controls
    include gallery/pagination-controls