.panel.panel-default(ng-controller='Paginator as paginator')
    br

    //- Switch mode        
    .row
        .col-xs-2
            | &nbsp;&nbsp;
            span.fa.fa-stack.fa-lg(ng-click="paginator.resetAll()" style="cursor:pointer")
                .fa.fa-circle-thin.fa-stack-2x.sg-red-i.sg-shadowed-text
                .fa.fa-close.fa-stack-1x.sg-red-i.sg-shadowed-text
        .col-xs-10: .form-group.text-center
            label.control-label Режим отображения 
            | &nbsp;&nbsp;
            .btn-group
                label.btn.btn-primary(ng-model="paginator.viewMode" btn-radio="'Rating'") 
                    i.fa.fa-star
                    |   Рейтинги
                label.btn.btn-primary(ng-model="paginator.viewMode" btn-radio="'Progress'") 
                    i.fa.fa-check-square-o
                    |   Прогресс
                label.btn.btn-primary(ng-model="paginator.viewMode" btn-radio="'Ready'") 
                    i.fa.fa-picture-o
                    |   Готовые макеты
            | &nbsp;&nbsp;
            label.control-label Найдено:
            |  {{ paginator.filteredLayouts.length }}

    .row
        //- Server filters
        include gallery/paginator-serverFilters

    .row
        include gallery/paginator-clientFilters
        

    //- top pagination controls
    include gallery/paginator-controls

    //- pagination
    .row: ul.sg-layout-list
        li.sg-layout.col-xs-6.col-sm-3.col-md-3.col-lg-2(current-page="paginator.currentPage"
        dir-paginate="layout in paginator.filteredLayouts = (paginator.rawLayouts | \
                filter: paginator.viewModeFilter | filter: paginator.search.filter | \
                orderBy: paginator.filters.currentOrder.value) | \
                itemsPerPage: paginator.currentItemsPerPage")
            //- layout controls
            sg-layout-toolbar(layout='layout')
            //- layout-block
            include gallery/layout-block

    //- bottom pagination controls
    include gallery/paginator-controls