.panel(ng-controller='Languages as langs')
    br
    .row
        .col-xs-4
            button.form-control.btn.btn-primary(ng-click='langs.manage()') Управление языками
        .col-xs-4
            button.form-control.btn.btn-success(ng-click='langs.parseTemplates()') Обновить языковые файлы
        .col-xs-4
            select.form-control(ng-model='langs.selected'
            ng-options='label as (lang.code + " - " +  lang.name) for lang in langs.list'
            ng-change='langs.changed()')

    .row
