.panel.panel-default
    .row
        .col-sm-6.col-md-6.col-lg-6
            .form-group.sg-validable
                label.panel-heading 2D
                input#upload-2d.file.sg-observable(type='file' data-preview-file-type='image' data-show-upload='false' data-allowed-file-extensions='["jpg", "png"]' data-upload-url='http://test.stereo.glass/api/upload' data-drop-zone-enabled='false' data-initial-preview-show-delete='false')
            .form-group
                label.panel-heading 3D
                input#upload-3d.file.sg-observable(type='file' data-show-upload='false' data-allowed-file-extensions='["gif"]' disabled)
            .form-group
                label.panel-heading Файлы макета
                input#upload-layout.file.sg-observable(type='file' data-show-upload='false' disabled)
            .form-group.sg-validable
                label.panel-heading Название макета
                input#designer-layout-name.sg-observable.form-control
            .form-group
                label.panel-heading Комментарий дизайнера
                textarea#designer-layout-comment.form-control(rows='6')
        .col-sm-6.col-md-6.col-lg-6(ng-controller="sgCatCtrl")
            .form-group.sg-validable
                label.panel-heading Цвета
                select#colors-selector.selectpicker.sg-observable(multiple data-width='100%')
            .form-group.sg-validable
                label.panel-heading Тип товара
                select#assortment-selector.selectpicker.sg-observable(multiple data-width='100%' data-selectable-optgroup)
            .form-group.sg-validable
                label.panel-heading Сюжет
                select#plots-selector.selectpicker.sg-observable(multiple data-width='100%' data-selectable-optgroup)
            .form-group.sg-validable
                label.panel-heading Страны
                select#countries-selector.selectpicker.sg-observable(multiple data-width='100%' data-selectable-optgroup)
            .form-group
                #layouts-info.alert.alert-info
            .form-group
                button#save-layout.btn.btn-lg.btn-primary.disabled.col-sm-3.col-md-3.col-lg-3 Сохранить
                button#reset-layout.btn.btn-lg.btn-warning.disabled.col-lg-offset-1.col-sm-3.col-md-3.col-lg-3 Сброс
