.panel.panel-default(ng-controller='Paginator as paginator')
    br
    //- Server filters
    include ratings/paginator-filters

    //- top pagination controls
    include ratings/paginator-controls

    //- pagination
    .row
        ul.sg-layout-list
            li.sg-layout.col-xs-6.col-sm-3.col-md-3.col-lg-2(current-page="paginator.currentPage"
            dir-paginate="layout in paginator.filteredLayouts = (paginator.rawLayouts | filter: paginator.filters.currentClient.value | filter: paginator.search.filter | orderBy: paginator.filters.currentOrder.value) | itemsPerPage: paginator.currentItemsPerPage")
                //- layout controls
                include ratings/layout-controls
                //- layout-block
                include ratings/layout-block

    //- bottom pagination controls
    include ratings/paginator-controls