.panel.panel-default
    .row
        .col-sm-12.col-lg12.col-xs-12(ng-controller='sgUsersCtrl')
            table.table.table-striped(st-table='row-collection')
                thead
                    tr
                        th
                            i.refresh-button.fa.fa-refresh(ng-click='refreshUserData()')
                            |  username
                        th    
                        th    
                        th usermail
                        th Роль
                        th Создан
                        th Был активен
                tbody(ng-repeat='row in rowCollection')
                    tr
                        td {{row.username}}
                        td
                            i.fa.fa-pencil.sg-green-i.sg-shadowed-text(style="cursor:pointer" ng-show="row.usermail !== usermail" ng-click="openEditDialog(row)")
                        td
                            i.fa.fa-remove.sg-red-i.sg-shadowed-text(style="cursor:pointer" ng-show="row.usermail !== usermail" ng-click="confirmRemove(row.username, row._id)")
                        td: a(ng-href='mailto:{{row.usermail}}') email
                        td {{row.role}}
                        td {{row.createdAt | date}}
                        td {{row.activeAt | date: 'short'}}
                //-tfoot
                //-    tr
                //-        td.text-center(colspan='5')
                //-            div(st-pagination='', st-items-by-page='3', st-displayed-pages='2')
