.panel.panel-default(ng-controller='Users as users')
    .row
        .col-sm-12.col-lg12.col-xs-12
            table.table.table-striped(st-table='row-collection')
                thead
                    tr
                        th
                            i.refresh-button.fa.fa-refresh.sg-shadowed-text(ng-click='users.refreshList()')
                            |  username
                        th
                        th
                        th Логин
                        th Роль
                        th Создан
                        th Был активен
                tbody(ng-repeat='row in users.list')
                    tr
                        td {{row.username}}
                        td
                            i.fa.fa-pencil.sg-green-i.sg-shadowed-text(style="cursor:pointer" ng-show="row.usermail !== users.mail" ng-click="users.openEditDialog(row)")
                        td
                            i.fa.fa-remove.sg-red-i.sg-shadowed-text(style="cursor:pointer" ng-show="row.usermail !== users.mail" ng-click="users.confirmRemove(row)")
                        td: a(ng-href='mailto:{{row.usermail}}') email
                        td {{row.role}}
                        td {{row.createdAt | date}}
                        td {{row.activeAt | date: 'short'}}
                //-tfoot
                //-    tr
                //-        td.text-center(colspan='5')
                //-            div(st-pagination='', st-items-by-page='3', st-displayed-pages='2')
