doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        if env == 'dev'
            title DEV - Stereo.Glass Admin Panel
        else
            title Stereo.Glass Admin Panel
        link(rel='stylesheet', href='../stylesheets/vendor-admin.min.css?#{build.date}')
        link(rel='stylesheet', href='../stylesheets/custom-admin.min.css?#{build.date}')
        script(src='../scripts/vendor-admin.min.js?#{build.date}')
        script(src='../scripts/custom-admin.min.js?#{build.date}')

    body
        block content