doctype html
html(lang=en)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        base(href='/designer/')
        title Starter MEAN Single App
        link(rel='stylesheet', href='../stylesheets/vendor-admin.min.css')
        link(rel='stylesheet', href='../css/admin/admin.css')
        script(src='../scripts/vendor-admin.min.js')
        script(src='../app/ngAdmin.js')
        script(src='../app/adminpage/layouts/jqLayouts.js')
        script(src='../app/adminpage/common/jqCommon.js')
        script(src='../app/adminpage/services/sgCategories.service.js')
        script(src='../app/adminpage/services/sgLayouts.service.js')
        script(src='../app/adminpage/services/sgLayoutFilters.service.js')
        script(src='../app/adminpage/services/sgLayoutControls.service.js')
        script(src='../app/adminpage/services/sgUsers.service.js')
        script(src='../app/adminpage/services/sgUserControls.service.js')
        script(src='../app/adminpage/services/sgModals.service.js')
        script(src='../app/adminpage/services/sgMessages.service.js')
        script(src='../app/adminpage/gallery/sgRating.directive.js')
        script(src='../app/adminpage/gallery/sgLayoutInfo.directive.js')
        script(src='../app/adminpage/common/sgFileUpload.directive.js')
        script(src='../app/adminpage/common/sgBsSelect.directive.js')
        script(src='../app/adminpage/common/Tabs.controller.js')
        script(src='../app/adminpage/messages/Messages.controller.js')
        script(src='../app/adminpage/gallery/Paginator.controller.js')
        script(src='../app/adminpage/users/Users.controller.js')
        script(src='../app/adminpage/layouts/sgLayoutsCtrl.js')

    body
        block content