doctype html
html(lang=en)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        base(href='/designer/')
        title Starter MEAN Single App
        link(rel='stylesheet', href='../libs/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='../libs/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='../libs/bootstrap-select/dist/css/bootstrap-select.css')
        link(rel='stylesheet', href='../js/tmp/fileinput.css')
        link(rel='stylesheet', href='../libs/bootstrap-daterangepicker/daterangepicker-bs3.css')
        link(rel='stylesheet', href='../css/admin/admin.css')
        script(src='../libs/jquery/dist/jquery.min.js')
        script(src='../libs/jquery-color/jquery.color.js')
        script(src='../libs/lodash/lodash.min.js')
        script(src='../libs/hammerjs/hammer.min.js')
        script(src='../libs/bootstrap/dist/js/bootstrap.min.js')
        script(src='../libs/bootstrap-select/js/bootstrap-select.js')
        script(src='../js/tmp/js/fileinput.js')
        script(src='../js/layouts/jqLayouts.js')
        script(src='../js/common/jqCommon.js')
        script(src='../libs/angular/angular.js')
        script(src='../libs/angular-cookies/angular-cookies.min.js')
        script(src='../libs/angular-bootstrap/ui-bootstrap.js')
        script(src='../libs/angular-bootstrap/ui-bootstrap-tpls.js')
        script(src='../libs/angular-smart-table/dist/smart-table.min.js')
        script(src='../libs/angular-utils-pagination/dirPagination.js')
        script(src='../libs/ryanmullins-angular-hammer/angular.hammer.min.js')
        script(src='../libs/moment/moment.js')
        script(src='../libs/moment/locale/ru.js')
        script(src='../libs/bootstrap-daterangepicker/daterangepicker.js')
        script(src='../libs/angular-daterangepicker-plus/src/angular-daterangepicker-plus.js')
        script(src='../libs/sg.ui/build/sg.ui.js')
        script(src='../js/common/sgModalCtrls.js')
        script(src='../js/ngAdmin.js')
        script(src='../js/services/sgCategories.service.js')
        script(src='../js/services/sgLayouts.service.js')
        script(src='../js/services/sgLayoutFilters.service.js')
        script(src='../js/services/sgLayoutControls.service.js')
        script(src='../js/services/sgUsers.service.js')
        script(src='../js/services/sgUserControls.service.js')
        script(src='../js/services/sgModals.service.js')
        script(src='../js/ratings/sgRating.directive.js')
        script(src='../js/ratings/sgLayoutInfo.directive.js')
        script(src='../js/common/sgBsSelect.directive.js')
        script(src='../js/ratings/sgRatingsCtrl.js')
        script(src='../js/ratings/Paginator.controller.js')
        script(src='../js/users/Users.controller.js')
        script(src='../js/layouts/sgLayoutsCtrl.js')

    body
        block content