doctype html
html(lang=en)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        base(href='/designer/')
        title Starter MEAN Single App
        link(rel='stylesheet',href='../libs/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet',href='../libs/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet',href='../libs/bootstrap/dist/css/bootstrap-theme.min.css')
        link(rel='stylesheet',href='../libs/bootstrap-select/dist/css/bootstrap-select.css')
        link(rel='stylesheet',href='../libs/bootstrap-fileinput/css/fileinput.min.css')
        link(rel='stylesheet',href='../libs/bootstrap-daterangepicker/daterangepicker-bs3.css')
        link(rel='stylesheet',href='../css/styles.css')
        script(src='../libs/jquery/dist/jquery.min.js')
        script(src='../libs/jquery-color/jquery.color.js')
        script(src='../libs/lodash/lodash.min.js')
        script(src='../libs/hammerjs/hammer.min.js')
        script(src='../libs/bootstrap-fileinput/js/fileinput.js')
        script(src='../libs/bootstrap/dist/js/bootstrap.min.js')
        script(src='../libs/bootstrap-select/js/bootstrap-select.js')
        script(src='../libs/bootstrap-fileinput/js/fileinput_locale_ru.js')
        script(src='../js/jqLayouts.js')
        script(src='../js/jqRatings.js')
        script(src='../js/jqCommon.js')
        script(src='../libs/angular/angular.js')
        script(src='../libs/angular-cookies/angular-cookies.min.js')
        script(src='../libs/angular-bootstrap/ui-bootstrap.js')
        script(src='../libs/angular-bootstrap/ui-bootstrap-tpls.js')
        script(src='../libs/angular-smart-table/dist/smart-table.min.js')
        script(src='../libs/angular-utils-pagination/dirPagination.js')
        script(src='../libs/ryanmullins-angular-hammer/angular.hammer.min.js')
        script(src='../libs/moment/moment.js')
        script(src='../libs/moment/locale/ru.js')
        script(src='../libs/bootstrap-daterangepicker/daterangepicker.js')
        script(src='../libs/angular-daterangepicker-plus/src/angular-daterangepicker-plus.js')
        script(src='../js/common/functions.js')
        script(src='../js/common/directives.js')
        script(src='../js/common/sgModalCtrls.js')
        script(src='../js/layouts/sgCategoriesCtrl.js')
        script(src='../js/ratings/sgRatingsCtrl.js')
        script(src='../js/ratings/sgLayoutItemCtrl.js')
        script(src='../js/users/sgUsersCtrl.js')
        script(src='../js/appAdmin.js')
        script(src='../js/test.js')
    body
        block content