doctype html
html(lang=en)
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=Edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        base(href='/designer/')
        title Starter MEAN Single App
        link(rel='stylesheet',href='../libs/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet',href='../libs/bootstrap/dist/css/bootstrap-theme.min.css')
        link(rel='stylesheet',href='../libs/bootstrap-select/dist/css/bootstrap-select.css')
        link(rel='stylesheet',href='../css/styles.css')
        script(src='../libs/jquery/dist/jquery.min.js')
        script(src='../libs/bootstrap/dist/js/bootstrap.min.js')
        script(src='../libs/bootstrap-select/js/bootstrap-select.js')
        script(src='../js/initDesigner.js')
        script(src='../libs/angular/angular.js')
        script(src='../js/appDesigner.js')
    body
        block content