@mixin glass-background {
  padding: 1px;
  background-color: rgba(240, 240, 240, .6);
  background-image: linear-gradient(45deg, rgba($sg-white, .0) 30%, rgba($sg-white, .8), rgba($sg-white, .0) 70%),
  linear-gradient(to right, rgba($sg-white, .7), rgba($sg-white, 0) 20%, rgba($sg-white, 0) 90%, rgba($sg-white, .3)),
  linear-gradient(to right, rgba(125, 125, 125, 1), rgba(230, 230, 230, .9) 45%, rgba(125, 125, 125, .5)),
  linear-gradient(to right, rgba(125, 125, 125, 1), rgba($sg-white, .9) 45%, rgba(125, 125, 125, .5)),
  linear-gradient(to right, rgba(223, 190, 170, 1), rgba($sg-white, .9) 45%, rgba(223, 190, 170, .5)),
  linear-gradient(to right, rgba(223, 190, 170, 1), rgba($sg-white, .9) 45%, rgba(223, 190, 170, .5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba($sg-black, .5) 3px 10px 10px -10px, rgba($sg-black, .5) 3px -10px 10px -10px;
}

@mixin glass-background-alt {
  background-image: linear-gradient(45deg, rgba($sg-white, .0) 30%, rgba($sg-white, .8), rgba($sg-white, .0) 70%),
  linear-gradient(to right, rgba($sg-white, .5), rgba($sg-white, 0) 20%, rgba($sg-white, 0) 80%, rgba($sg-white, .45)),
  linear-gradient(to right, rgba(125, 125, 125, 1), rgba(230, 230, 230, .9) 45%, rgba(125, 125, 125, .5)),
  linear-gradient(to right, rgba(125, 125, 125, 1), rgba($sg-white, .9) 45%, rgba(125, 125, 125, .5)),
  linear-gradient(to right, rgba(223, 190, 170, 1), rgba($sg-white, .9) 45%, rgba(223, 190, 170, .5)),
  linear-gradient(to right, rgba(223, 190, 170, 1), rgba($sg-white, .9) 45%, rgba(223, 190, 170, .5));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba($sg-black, .5) 3px 10px 10px -10px, rgba($sg-black, .5) 3px -10px 10px -10px;
}

@mixin black-glossy-background {
  // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3e3e3e+0,393939+6,646464+18,2f2f2f+54,2c2c2c+77,181818+100,752201+100,181818+100
  background: linear-gradient(to bottom,
          #3e3e3e 0%,
          #393939 6%,
          #646464 18%,
          #2f2f2f 54%,
          #2c2c2c 77%,
          #181818 100%);
}

@mixin halfred-glossy-background {
  background: linear-gradient(to bottom,
          rgba(135,93,98,1) 0%,
          rgba(131,79,85,1) 6%,
          rgba(209,163,163,1) 18%,
          rgba(122,52,60,1) 54%,
          rgba(119,45,54,1) 77%,
          rgba(88,46,30,1) 100%);
}

@mixin red-glossy-background {
  // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b4952+0,9b3642+6,e88b8b+18,9c1122+54,9b091a+77,752201+100,9b3642+100,560103+100
  background: linear-gradient(to bottom,
          #9b4952 0%,
          #9b3642 6%,
          #e88b8b 18%,
          #9c1122 54%,
          #9b091a 77%,
          #560103 100%);
}

@mixin white-glossy-background {
  background: linear-gradient(to bottom,
          #848484 0%,
          #999999 6%,
          #c9c9c9 18%,
          #a0a0a0 54%,
          #777777 77%,
          #727272 100%);
}
