// Classes for responsive design

.sg-on-xs {
  @include on-xs-minus {
    display: none;
  }
  @include on-sm-plus {
    display: none;
  }
}

.sg-no-xs {
  @include on-xs {
    display: none;
  }
}

.sg-on-xxs {
  @include on-xs-plus {
    display: none !important;
  }
}

.sg-no-xxs {
  @include on-xs-minus {
    display: none !important;
  }
}

.sg-glass-background {
  @include glass-background;
}