$bg-color: #ececec;
$wine-red: #9c1112;
$form-bg-color: #dadada;
$header-bg-color: #fafafa;
$top-menu-text-color: #f2f2f2;
$border-base-color: #d6d4d4;

$display-lg-width: 1200px;
$display-md-width: 992px;
$display-sm-width: 768px;
$display-xs-width: 480px;