$bg-color: #ECECEC;
$wine-red: #9C1122;
$form-bg-color: #DADADA;
$header-bg-color: #FAFAFA;
$top-menu-text-color: #F2F2F2;

$border-base-color: #D6D4D4;

$display-lg-width: 1200px;
$display-md-width: 992px;
$display-sm-width: 768px;
$display-xs-width: 480px;