body
    h3 Password recovery
    p
        | You are receiving this because you (or someone else) have requested the reset
        | of the password for your account.
    p
        | Please click on the following link, or paste this into your browser to
        | complete the process:
    p
        a(href='http://stereoglass.com/auth/recover-password/#{token}')
            | http://stereoglass.com/auth/recover-password/#{token}
    p
        | If you did not request this, please ignore this email and your password
        | will remain unchanged

    h3 Восстановление пароля
    p
        | Вы получили это письмо, потому что вы (или кто-либо другой) отправил запро на
        | смену пароля к вашему аккаунту
    p
        | Пожалуйста, пройдите по ссылке ниже или вставьте ее в адресную строку браузера
        | для завершения процесса:
    p
        a(href='http://stereoglass.com/auth/recover-password/#{token}')
            | http://stereoglass.com/auth/recover-password/#{token}
    p
        | Если вы не производили этот запрос, проигнорируйте это письмо и ваш пароль
        | не будет изменён.