//- row1
img.sg-flipv(sg-alt-src="!water" style="width:25%")
img.sg-flipb(sg-alt-src="water" style="width:25%")
img.sg-flipv(sg-alt-src="water" style="width:25%")
img.sg-flipb(sg-alt-src="water" style="width:25%")
//- row2
img(sg-alt-src="!water" style="width:25%")
img.sg-fliph(sg-alt-src="water" style="width:25%")
img(sg-alt-src="water" style="width:25%")
img.sg-fliph(sg-alt-src="water" style="width:25%")
//- row3
img.sg-flipv(sg-alt-src="!water" style="width:25%")
img.sg-flipb(sg-alt-src="!water" style="width:25%")
img.sg-flipv(sg-alt-src="water" style="width:25%")
img.sg-flipb(sg-alt-src="water" style="width:25%")
//- row4
img(sg-alt-src="!water" style="width:25%")
img.sg-fliph(sg-alt-src="!water" style="width:25%")
img(sg-alt-src="!water" style="width:25%")
img.sg-fliph(sg-alt-src="!water" style="width:25%")
