@import "../utilities/utilities";

.sg-block {

  @include border-radius(3px, 3px);
  @include box-shadow(rgba(black, 0.05) 0 0 5px 5px);
}

.sg-block-header {

  padding-left: 10px;
  text-align: left;

  font: 12px/24px "Airbone";

  @include on-sm {
    font: 13px/26px "Airbone";
  }

  @include on-md {
    font: 16px/32px "Airbone";
    padding-left: 15px;
  }

  @include on-lg {
    font: 18px/36px "Airbone";
    padding-left: 20px;
  }

  color: $top-menu-text-color;

  background-color: rgb(62, 62, 62);
  @include filter-gradient(#3e3e3e, #181818, vertical);
  $experimental-support-for-svg: true;
  @include background-image(linear-gradient(top, rgba(62, 62, 62, 1) 0%, rgba(57, 57, 57, 1) 6%, rgba(100, 100, 100, 1) 18%, rgba(47, 47, 47, 1) 54%, rgba(44, 44, 44, 1) 77%, rgba(24, 24, 24, 1) 99%));

  &:after {
    @include on-sm-plus {
      display: none;
    }

    @include on-sm-minus {
      float: right;
      display: inline-block;
      content: "\F067";
      font: 16px/24px "FontAwesome";
      margin-right: 5px;
    }
  }

}

.sg-cat-tree {
  margin: 0;
  display: none;

  @include on-xs {
    padding: 0 15px 15px 10px;
  }

  @include on-sm {
    display: block;
    padding: 0 15px 15px 15px;
  }

  @include on-md {
    display: block;
    padding: 0 15px 15px 20px;
  }

  @include on-lg {
    display: block;
    padding: 0 15px 15px 30px;
  }

  li {
    position: relative;
    display: list-item;

    a {
      display: block;
      color: black;
      cursor: pointer;
      border-bottom: 1px solid $border-base-color;

      font: bold 13px/24px "Arial";

      @include on-lg {
        font: bold 14px/24px "Arial";
      }
    }

    &.selected a, a:hover {
      color: $sg-winered;
      background-color: rgba(black, .025);
    }

    .sg-dot-btn {
      position: absolute;
      right: 4px;
      top: 7px;

      @include on-sm {
        top: 6px;
      }
      @include on-md {
        top: 5px;
      }

      @include on-lg {
        top: 4px;
      }
    }

    & + ul {
      transition: opacity 0.5s ease-in;
      opacity: 0;
      height: 0;
      overflow: hidden;
    }

    &.expand + ul {
      opacity: 1;
      height: auto;
    }
  }

  li + ul a {

    font-weight: normal;
    padding-left: 15px;

    &:before {
      content: "\f105";
      font-family: "FontAwesome";
      padding-right: 5px;
    }
  }
}