.lang-switcher {
  @include scaleY(0);

  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;

  border: 0;
  left: 0;
  margin-left: -1px;
  opacity: .75;
  padding: 0;
  position: absolute;
  right: 0;
  transition: .25s linear;

  &.visible {
    @include scaleY(1);
    transition: .25s linear;
  }

  .lang-selector {
    // override usual settings
    cursor: pointer;
    display: block;

    @include on-xs {
      height: 16px;
      padding-top: 2px;
    }

    @include on-sm {
      height: 28px;
      padding-top: 4px;
    }

    @include on-md {
      height: 37px;
      padding-top: 6px;
    }

    @include on-lg {
      height: 43px;
      padding-top: 8px;
    }
  }
}
