ul
    li(ng-class='about.isSideSelected("tiles")'): a(href='#/about/assortment/tiles')
        | {{ _INT("плитка напольная"); }},
        br
        | {{ _INT("плитка настенная"); }}
    li(ng-class='about.isSideSelected("pannos")'): a(href='#/about/assortment/pannos')
        | {{ _INT("панно"); }},
        br
        | {{ _INT("скинали"); }}
    li(ng-class='about.isSideSelected("panels")'): a(href='#/about/assortment/panels')
        | {{ _INT("панели для мебельных фасадов"); }},
        br
        | {{ _INT("вставки для шкафов купе"); }},
        br
        | {{ _INT("стекло в межкомнатные двери"); }}
    li(ng-class='about.isSideSelected("ceiling")'): a(href='#/about/assortment/ceiling')
        | {{ _INT("вставки для потолков"); }},
        br
        | {{ _INT("светильники"); }}
    li(ng-class='about.isSideSelected("clocks")'): a(href='#/about/assortment/clocks')
        | {{ _INT("подносы"); }},
        br
        | {{ _INT("столешницы"); }},
        br
        | {{ _INT("часы"); }}
    li(ng-class='about.isSideSelected("adverts")'): a(href='#/about/assortment/adverts')
        | {{ _INT("Рекламная продукция"); }}
