ul
    li(ng-class='about.isSideSelected("instruction")'): a(href='#/about/documents/instruction')
        | {{ _INT("инструкция по укладке"); }}
    li(ng-class='about.isSideSelected("certificates")'): a(href='#/about/documents/certificates')
        | {{ _INT("сертификаты"); }}
