ul
    li(ng-class='about.isSideSelected("moments")'): a(href='#/about/photo/moments')
        | {{ _INT("Производственные моменты"); }}
    li(ng-class='about.isSideSelected("moscow")'): a(href='#/about/photo/moscow')
        | {{ _INT("ОСМ Москва-2013"); }}
    li(ng-class='about.isSideSelected("kiev")'): a(href='#/about/photo/kiev')
        | {{ _INT("Киев"); }}