.sg-l2-wrapper: .sg-about-container
    .sg-about-side-panel.sg-glass-background
        block side-menu
    .sg-about-main-panel
        include _l2-menu
        .sg-about-main-body.sg-glass-background
            block content