ul
    li(ng-class='about.isSideSelected("interior")'): a(href='#/about/video/interior')
        | {{ _INT("«СтереоСтекло» в интерьере"); }}
    li(ng-class='about.isSideSelected("assortment")'): a(href='#/about/video/assortment')
        | {{ _INT("Ассортимент продукции"); }}
    li(ng-class='about.isSideSelected("properties")'): a(href='#/about/video/properties')
        | {{ _INT("Свойства «СтереоСтекла»"); }}
    li(ng-class='about.isSideSelected("adverts")'): a(href='#/about/video/adverts')
        | {{ _INT("Образцы рекламной продукции"); }}
