extends  _shared-part
block side-menu
    include _assortment-side-menu
block content
    p(ng-bind='_INT("Создать красивый дизайн интерьера с помощью минимальных капиталовложений – это вопрос смекалки, а также умения находить оптимальные для себя декоративные решения.");')
    p
        | {{ _INT("Мы предлагаем вам нашу продукцию и безграничное поле её применения."); }}
        |  {{ _INT("Вы можете использовать «СтереоСтекло» для декорирования мебельных фасадов, или в качестве вставок в безликие плоскости шкафов-купе."); }}
        |  {{ _INT("А как насчет стекол в межкомнатных дверях?"); }}
    p(ng-bind='_INT("Вы будете приятно ошеломлены результатом несложных интерьерных изменений.");')
    p(ng-bind='_INT("Такая оригинальная облицовка придает эксклюзивный внешний вид помещению и помогает создать поистине концептуальный дизайн, без сложных технических приемов и значительных финансовых затрат.");')