extends  _shared-part
block side-menu
    include _assortment-side-menu
block content
    p(ng-bind='_INT("Если в процессе ремонта или декорирования вашего помещения у вас возникнет необходимость в расстановке визуальных акцентов, которые не только приковывали бы к себе взгляд, но и являлись бы зрительным центром всего интерьера, то помочь вам в этом смогут цельные (или крупносоставные) панно и скинали из «СтереоСтекла».");')
    p(ng-bind='_INT("Контрастно выделяясь на основном фоне они, тем не менее, смогут гармонично вписаться и логично объединить общую концепцию дизайна всего декора.");')