extends  _shared-part
block side-menu
    include _assortment-side-menu
block content
    p {{ _INT("В рамках данного сайта мы предлагаем уже испытанные нами варианты композиций и производимых из них изделий. Но, при желании, вы можете комбинировать применение различных сюжетов к категориям товара, а также расширить область предназначения продукции."); }}
    p {{ _INT("Уже сейчас мы сотрудничаем с ведущими ремонтно-строительными организациями и производственными компаниями, поэтому смело можем обозначить сферу применения нашего «СтереоСтекла». Фактически, область для использования – обширна и ограничивается лишь фантазией."); }}
    p {{ _INT("Вы можете без дополнительной обработки укладывать наш товар в качестве плитки (напольной или настенной) или декорировать помещение нашими панно и скинали."); }}
    p
        | {{ _INT("С детальными рекомендациями по укладке можете ознакомиться "); }}
        | {{ _INT("здесь"); }}