extends  _shared-part
block side-menu
    include _assortment-side-menu
block content
    img.sg-photo.full(src='/img/assortment/panno5.jpg')
    p(ng-bind='_INT("Если в процессе ремонта или декорирования вашего помещения у вас возникнет необходимость в расстановке визуальных акцентов, которые не только приковывали бы к себе взгляд, но и являлись бы зрительным центром всего интерьера, то помочь вам в этом смогут цельные (или крупносоставные) панно и скинали из «СтереоСтекла».");')
    p(ng-bind='_INT("Контрастно выделяясь на основном фоне они, тем не менее, смогут гармонично вписаться и логично объединить общую концепцию дизайна всего декора.");')
    img.sg-photo.half(src='/img/assortment/panno1.jpg')
    img.sg-photo.half(src='/img/assortment/panno2.jpg')
    img.sg-photo.half(src='/img/assortment/panno3.jpg')
    img.sg-photo.half(src='/img/assortment/panno4.jpg')
    img.sg-photo.full(src='/img/assortment/panno6.jpg')