extends  _shared-part
block side-menu
    include _assortment-side-menu
block content
    p(ng-bind='_INT("Устав от однообразия кафельных плиток и их монохромной раскраски, люди все чаще задумываются – как им выйти за рамки привычного восприятия обыденных интерьеров?");')
    p(ng-bind='_INT("Ответ на этот вопрос может дать плитка из «СтереоСтекла».");')
    p
        | {{ _INT("Она предоставляет возможность проявить фантазию и создать действительно уникальный дизайн вашего помещения."); }}
        | &nbsp;
        | {{ _INT("Ведь данный материал позволяет задать общее настроение и расположить на стенах (или на полу) яркие кусочки позитива, которые будут всегда радовать вас и удивлять ваших гостей своей глубиной и реалистичностью."); }}