extends  _shared-part
block side-menu
    include _assortment-side-menu
block content
    img.sg-photo.right(src='/img/assortment/advassort1.jpg')
    br
    p(ng-bind='_INT("Не стоит думать, что сфера применения нашего продукта ограничена только вашим личным, домашним пространством.");')
    p(ng-bind='_INT("Вовсе нет.");')
    p(ng-bind='_INT("Наше «СтереоСтекло» уже сейчас применяется в общественных помещениях с большой проходимостью. Таких как – офисы, магазины, ночные клубы, гостиницы.");')
    p(ng-bind='_INT("Но особого интереса заслуживает та  его грань, которая привлекает не только внимание, но и деньги. Мы имеем в виду рекламный рынок.");')
    p(ng-bind='_INT("Сейчас этот сегмент отчасти заполнен пластиковым растром, который в силу объективных причин не способен удовлетворить потребности рекламодателей.");')
    .clearfix
    img.sg-photo.left(src='/img/assortment/advassort2.jpg')
    br
    p(ng-bind='_INT("Во-первых, пластиковая линза (в отличие от «СтереоСтекла») не устойчива к воздействию ультрафиолета.");')
    p(ng-bind='_INT("Во-вторых, пластик не обладает достаточными износостойкими характеристиками. Что ограничивает количество раз его непрерывного использования до 4-5.");')
    p(ng-bind='_INT("В-третьих, применяемый пластиковый лентикуляр АБСОЛЮТНО НЕ АНТИВАНДАЛЕН. Это значит, что любое негативное человеческое действие приведет к его полной деформации.");')
    p(ng-bind='_INT("И, наконец, самый главный аргумент – цена. Стоимость нашего «СтереоСтекла» в 3-4 раза дешевле пластиковых аналогов.");')
    .clearfix
    img.sg-photo.right(src='/img/assortment/advassort3.jpg')
    br
    p(ng-bind='_INT("Все вышеперечисленные причины позволяют утверждать, что предлагаемый нами продукт идеально подходит для использования во внутренней и наружной рекламе. А именно – для лайт боксов, вывесок, штендеров, указателей, информационных табло, напольных плиток с рекламой на них и т.д.");')
    p
        | {{ _INT("Одним словом, мы уверены, что новые возможности передачи информации с использованием визуальных"); }}
        | &nbsp;
        a(ng-bind='_INT("стерео- и");' href='#/about/technology/stereo')
        | &nbsp;
        a(ng-bind='_INT("варио-эффектов");' href='#/about/technology/vario')
        | &nbsp;
        | {{ _INT("помогут вам ярко заявить о своём товаре и одновременно выгодно осветить вашу продукцию на фоне конкурентов."); }}
    .clearfix