extends  _shared-part
block side-menu
    include _assortment-side-menu
block content
    img.sg-photo.right(src='/img/assortment/ceiling1.jpg')
    p
        | {{ _INT("Основываясь на подтвержденных технических характеристиках «СтереоСтекла» мы можем утверждать, что оно выдерживает температуру в 100°С."); }}
        |  {{ _INT("Это значит, что может использоваться в особо жарких условиях."); }}
        |  {{ _INT("А именно – в банях, саунах, парилках и, кроме того, в качестве основного элемента в устройствах светильников либо панелей для потолочного освещения."); }}
    .clearfix
    img.sg-photo.left(src='/img/assortment/ceiling2.jpg')
    p
        | {{ _INT("Правильно подобранное изображение или фон для мягкого источника света преобразует весь интерьер и окружающее пространство до неузнаваемости."); }}
        |  {{ _INT("Декоративная вставка для потолков с 3х мерным рисунком подчеркнет стильный дизайн интерьера, зрительно расширяя границы помещения."); }}
    p
        | {{ _INT("И напротив, удачно вписанный в общую концепцию вашего внутреннего убранства светильник сможет расставить яркие акценты всего дизайна."); }}
    .clearfix
    img.sg-photo.half(src='/img/assortment/light1.jpg')
    img.sg-photo.half(src='/img/assortment/light2.jpg')
    img.sg-photo.full(src='/img/assortment/light3.jpg')