extends _shared-part
block side-menu
    include _document-side-menu
block content
    | {{ _INT("В этом разделе прочесть инструкцию по укладке «СтереоСтекла» и ознакомиться с сертификатами на нашу продукцию."); }}