extends _shared-part
block side-menu
    include _document-side-menu
block content
    .centered
        sg-miniature(src='/img/certs/russia.jpg')
        sg-miniature(src='/img/certs/russia-zdrav.jpg')
        sg-miniature(src='/img/certs/ukraine.jpg')
        sg-miniature(src='/img/certs/ukraine-zdrav.jpg')
        sg-miniature(src='/img/certs/ukraine-fire.jpg')
        sg-miniature(src='/img/certs/usa.jpg')
    .clearfix