extends _shared-part
block side-menu
    include _document-side-menu
block content
    h3.text-center(ng-bind='_INT("Инструкция по укладке плитки");')
    h4.text-center(ng-bind='_INT("СТЕНА");')
    p.small
        | {{ _INT("Материалы: вспененный двухсторонний скотч"); }}
        sup *
        | ,
        |  {{ _INT("клей для зеркал (или нейтральный силикон), герметик (для швов)."); }}
    p.small
        | {{ _INT("Требование к поверхностям: Участки поверхности должны быть высушены и очищены от пыли, жира и загрязнений."); }}
        |  {{ _INT("Монтаж следует проводить на ровную поверхность, предварительно прогрунтованную строительной грунтовкой."); }}
    ol
        li(ng-bind='_INT("Подготовка поверхностей к поклейке.");')
        li(ng-bind='_INT("Для дополнительной адгезии и более быстрого схватывания изделия с поверхностью по периметру (и в середине для массивных плит) «ёлочкой» (под углом) выклеивается двусторонний скотч на вспененной основе. При желании этот пункт можно исключить.");')
        li
            | {{ _INT("Распределите клей для зеркал небольшими порциями по периметру плитки с тыльной стороны на расстоянии примерно 5-7 см друг от друга. На углы клей не наносится, поскольку в таком случае во время придавливания к стене клей может «выйти» за границы изделия."); }}
            p
                | {{ _INT(" ВАЖНО! НЕ использовать клея для плиток, уксусный нейтральный силикон, жидкие гвозди и подобные агрессивные средства."); }}
        li(ng-bind='_INT("В местах проклейки скотчем особо тщательно прижать изделие к поверхности. Если изделие массивное, лучше обеспечить подпорки на время застывания клея, указанное в инструкции.");')
        li
            | {{ _INT("Стыки герметизировать при помощи холодной сварки для линолеума либо нейтрального силикона."); }}
    p: b {{ _INT("3D-плитка из закаленного стекла обладает повышенной прочностью и не поддается обработке режущими инструментами."); }}
    p.small
        sup *
        |  {{ _INT("Двухсторонняя лента для крепления представляет собой клейкую ленту на основе мелкоячеистого вспененного полиэтилена с нанесенным с двух сторон акриловым клеевым слоем на основе растворителя. Благодаря тому, что основа ленты имеет значительную толщину (порядка 1-4 мм) и специализированный клеевой состав, отличающийся высокой клейкостью, лента может применяться на шероховатых и негладких поверхностях."); }}
    h4.text-center(ng-bind='_INT("ПОЛ");')
    p.small(ng-bind='_INT("Материалы: клей для зеркал (или нейтральный силикон), герметик (для швов)");')
    p.small(ng-bind='_INT("Требование к поверхностям: Участки поверхности должны быть высушены и очищены от пыли, жира и загрязнений. Монтаж следует проводить на ровную поверхность, предварительно прогрунтованную строительной грунтовкой.");')
    ol
        li(ng-bind='_INT("Подготовка поверхностей к поклейке.");')
        li(ng-bind='_INT("Распределите клей для зеркал равномерным тонким слоем по тыльной поверхности плитки. ВАЖНО! НЕ использовать клея для плиток, уксусный нейтральный силикон, жидкие гвозди и подобные агрессивные средства.");')
        li(ng-bind='_INT("После укладки до использования плитки должно пройти время, указанное в инструкции как время застывания клея.");')
        li(ng-bind='_INT("Стыки герметизировать при помощи холодной сварки для линолеума либо нейтрального силикона. При монтаже 3d плитки необходимо следить за правильной ориентацией направления линз.");')
    p: b(ng-bind='_INT("3D-плитка из закаленного стекла обладает повышенной прочностью и не поддается обработке режущими инструментами.");')