extends _shared-part
block side-menu
    include _document-side-menu
block content
    .centered
        sg-miniature(src='/img/certs/russia.jpg' mini-src='/img/certs/mini-russia.jpg')
        sg-miniature(src='/img/certs/russia-zdrav.jpg' mini-src='/img/certs/mini-russia-zdrav.jpg')
        sg-miniature(src='/img/certs/show.jpg' mini-src='/img/certs/mini-show.jpg')
        sg-miniature(src='/img/certs/ukraine.jpg' mini-src='/img/certs/mini-ukraine.jpg')
        sg-miniature(src='/img/certs/ukraine-zdrav.jpg' mini-src='/img/certs/mini-ukraine-zdrav.jpg')
        sg-miniature(src='/img/certs/ukraine-fire.jpg' mini-src='/img/certs/mini-ukraine-fire.jpg')
        sg-miniature(src='/img/certs/usa.jpg' mini-src='/img/certs/mini-usa.jpg')
    .clearfix