extends _shared-part
block side-menu
    include _faq-side-menu
block content
    accordion(close-others='true')
        accordion-group(heading='{{ _INT("1. Какой максимально возможный размер единого панно?"); }}')
            p {{ _INT("На данный момент технология предусматривает производство цельных поверхностей из «СтереоСтекла» размером не более 1000х1500 мм. При необходимости получить большую площадь можно составлять панно из нескольких отдельных листов."); }}
        accordion-group(heading='{{ _INT("2. Что делать, если меня не устраивает выбор изображений, представленных на вашем сайте?"); }}')
            p {{ _INT("Мы регулярно обновляем наш ассортимент, поэтому вы можете  написать нам письмо с предложенным вами вариантом и он будет рассмотрен в общем порядке."); }}
            p {{ _INT("Либо мы можем обработать конкретно ваш заказ, главное, чтобы он не нарушал ничьих авторских прав. Внимание – минимальная сумма индивидуального заказа 1 000 долл. США."); }}
        accordion-group(heading='{{ _INT("3. Как правильно клеить плитку или крепить панно/скинали"); }}')
            p
                | {{ _INT("Подробную инструкцию вы найдёте "); }}
                a {{ _INT("здесь"); }}
        accordion-group(heading='{{ _INT("4. Занимаетесь ли вы выпуском производной продукции из вашей плитки – столы, часы, подносы, светильники, рекламные лайт-боксы и прочее?"); }}')
            p {{ _INT("Нет, сейчас мы сосредоточены только на выпуске «СтереоСтекла» с трёхмерным рисунком на нем. Остальной ассортимент является прерогативой сторонних компаний."); }}
        accordion-group(heading='{{ _INT("5. Я хочу использовать ваше стекло в качестве вставки для шкафа-купе в детской комнате – безопасно ли это?"); }}')
            p
                | {{ _INT("Да. Вы можете быть абсолютно спокойны. Как с точки зрения экологичности – наша продукция удовлетворяет самым строгим критериям."); }}
                |  {{ _INT("Так и с точки зрения безопасности – «СтереоСтекло» имеет на порядок большую степень прочности, нежели обычные зеркала и оконные стекла."); }}
                |  {{ _INT("И даже в случае деформации оно рассыпается на мелкую не острую крошку (по принципу автостёкол)."); }}
        accordion-group(heading='{{ _INT("6. Я хочу сделать заказ – какова процедура?"); }}')
            p
                | {{ _INT("Пожалуйста, заполните необходимую форму на нашем сайте, с указанием ваших контактных данных и выбранного товара."); }}
                |  {{ _INT("Мы обязательно перешлем вашу заявку ближайшему к вам дилеру."); }}
        accordion-group(heading='{{ _INT("7. Могу ли я разрезать вашу плитку или сделать в ней отверстия?"); }}')
            p
                | {{ _INT("Нет. Основываясь на физических свойствах закаленного стекла – это невозможно."); }}
                |  {{ _INT("Единственный способ осуществить это – уведомить вашего дилера заранее обо всех предполагаемых отверстиях и технологических подрезах."); }}
                |  {{ _INT("Но будьте готовы к тому, что это несколько удорожает общую стоимость заказа."); }}
        accordion-group(heading='{{ _INT("8. Можно ли мыть поверхность «СтереоСтекла»? И чем это лучше делать?"); }}')
            p
                | {{ _INT("В домашних условиях вы можете использовать АБСОЛЮТНО все чистящие средства как химические, так и физические (металлические губки, щетки, скребки)."); }}
                |  {{ _INT("Более того, наша продукция устойчива к воздействию профессиональной моющей химии с повышенным содержанием кислотности."); }}
        accordion-group(heading='{{ _INT("9. Как быть, если мне понравился рисунок и я хотел бы сделать заказ, но в ассортименте продукции нет подходящего размера."); }}')
            p
                | {{ _INT("Дело в том, что основные мощности нашей компании сейчас направлены на производство «типовой» плитки. Но это вовсе не означает, что мы не «идем навстречу клиенту»."); }}
                |  {{ _INT("Поэтому, сделайте заявку, в графе комментарии опишите свою просьбу, либо оставьте пожелания – мы либо решим вашу проблему самостоятельно, либо перенаправим ваш заказ ближайшему к вам дилеру."); }}
