extends  _shared-part
block content
    p {{ _INT("Наша компания предлагает вашему вниманию «СтереоСтекло» – новый продукт в сфере строительно-отделочных материалов, обладающий уникальными свойствами."); }}
    p {{ _INT("Это закаленное стекло с нанесенным на него трёхмерным рисунком. Данный эффект особенно ярок при изменении угла обзора."); }}
    p {{ _INT("На страницах данного раздела вы кратко познакомитесь с ассортиментом продукции выпускаемой на основе «СтереоСтекла»."); }}
    p {{ _INT("Кроме того в разделах «Технология» и «Документы» мы осветили технические и оптические характеристики нашего продукта."); }}
    p {{ _INT("Вкладки «Видео», «Фото» помогают визуально лучше воспринять историю компании, свойства стекла и многообразие выпускаемой нами палитры."); }}
    p {{ _INT("И, наконец, в разделе «Вопросы» мы собрали для вас наиболее часто повторяющиеся уточнения."); }}