extends _shared-part
block side-menu
    include _photo-side-menu
block content
include _shared-part
    .centered: sg-miniature-gallery
        sg-miniature(src='/img/photo/moscow1.jpg' mini-src='/img/photo/mini-moscow1.jpg')
        sg-miniature(src='/img/photo/moscow2.jpg' mini-src='/img/photo/mini-moscow2.jpg')
        sg-miniature(src='/img/photo/moscow3.jpg' mini-src='/img/photo/mini-moscow3.jpg')
        sg-miniature(src='/img/photo/moscow4.jpg' mini-src='/img/photo/mini-moscow4.jpg')
        sg-miniature(src='/img/photo/moscow5.jpg' mini-src='/img/photo/mini-moscow5.jpg')
        sg-miniature(src='/img/photo/moscow6.jpg' mini-src='/img/photo/mini-moscow6.jpg')
    .clearfix