extends _shared-part
block side-menu
    include _photo-side-menu
block content
include _shared-part
    .centered
        sg-miniature(src='/img/photo/moscow1.jpg')
        sg-miniature(src='/img/photo/moscow2.jpg')
        sg-miniature(src='/img/photo/moscow3.jpg')
        sg-miniature(src='/img/photo/moscow4.jpg')
        sg-miniature(src='/img/photo/moscow5.jpg')
        sg-miniature(src='/img/photo/moscow6.jpg')
    .clearfix