extends _shared-part
block side-menu
    include _photo-side-menu
block content
include _shared-part
    .centered
        sg-miniature(mini-src='/img/photo/mini-kiev1.jpg' src='/img/photo/kiev1.jpg')
        sg-miniature(mini-src='/img/photo/mini-kiev2.jpg' src='/img/photo/kiev2.jpg')
    .clearfix