extends _shared-part
block side-menu
    include _photo-side-menu
block content
include _shared-part
    .centered: sg-miniature-gallery
        sg-miniature(src='/img/photo/work1.jpg' mini-src='/img/photo/mini-work1.jpg')
        sg-miniature(src='/img/photo/work2.jpg' mini-src='/img/photo/mini-work2.jpg')
        sg-miniature(src='/img/photo/work3.jpg' mini-src='/img/photo/mini-work3.jpg')
        sg-miniature(src='/img/photo/work4.jpg' mini-src='/img/photo/mini-work4.jpg')
        sg-miniature(src='/img/photo/work5.jpg' mini-src='/img/photo/mini-work5.jpg')
        sg-miniature(src='/img/photo/work6.jpg' mini-src='/img/photo/mini-work6.jpg')
    .clearfix