extends _shared-part
block side-menu
    include _photo-side-menu
block content
include _shared-part
    .centered
        sg-miniature(src='/img/photo/kiev1.jpg')
        sg-miniature(src='/img/photo/kiev2.jpg')
    .clearfix