extends _shared-part
block side-menu
    include _technology-side-menu
block content
    p
        | {{ _INT("В отличие от лентикулярных пластиковых растров (широко применяющихся до сих пор) представляемое нами «стереостекло» имеет ряд неоспоримых преимуществ, как физико-химических:"); }}
    ul
        li(ng-bind='_INT("износостойкость");')
        li(ng-bind='_INT("влагозащищенность");')
        li(ng-bind='_INT("термостойкость");')
        li(ng-bind='_INT("ударопрочность");')
        li(ng-bind='_INT("устойчивость к кислотам и щелочам");')
        li(ng-bind='_INT("абсолютная защита от воздействия ультрафиолетового излучения");')
    p
        | {{ _INT("так и экономических: выпускаемая нами линза в три раза дешевле пластиковых аналогов!"); }}