extends _shared-part
block side-menu
    include _technology-side-menu
block content
    img.sg-photo.right(src='/img/gifs/flip.gif')
    p(ng-bind='_INT("Вариоэффекты - различные визуальные эффекты, получаемые при использовании нескольких различных изображений. «СтереоСтекло» позволяет использовать все виды вариоэффектов.");')
    h4.short(ng-bind='_INT("Варио Flip");')
    p(ng-bind='_INT("Flip («щелчок», англ.) – простейший, но для ряда применений наиболее подходящий эффект лентикулярной печати.");')
    p(ng-bind='_INT("В зависимости от положения зрителя или смены угла просмотра, он видит одно из двух (или более) закодированных изображений. «Переключение» возможно в горизонтальной плоскости (зритель перемещается влево-вправо) или в вертикальной (зритель перемещается вверх-вниз).");')
    .clearfix
    img.sg-photo.left(src='/img/gifs/movement.gif')
    h4.short(ng-bind='_INT("Движение");')
    p(ng-bind='_INT("Движение (анимация) – ещё одна разновидность варио-эффекта.");')
    p(ng-bind='_INT("В итоговом изображении кодируется несколько статичных кадров (от 3 до 10). При изменении угла просмотра эти кадры последовательно сменяют друг друга, создавая иллюзию движения (чаще всего вращения или линейного движения).");')
    p(ng-bind='_INT("Анимация может быть цикличной, в этом случае создаётся иллюзия непрерывного движения.");')
    .clearfix
    img.sg-photo.right(src='/img/gifs/zoom.gif')
    h4.short(ng-bind='_INT("ZOOM-эффект");')
    p(ng-bind='_INT("Zoom («приближать», англ.) – производит по-настоящему захватывающие впечатление.");')
    p(ng-bind='_INT("При просмотре растрового изображения с различных углов создается впечатление приближения и удаления объектов.");')
    p(ng-bind='_INT("На самом деле изображение всегда одинаково, но чередуются его различные размеры.");')
    .clearfix
    img.sg-photo.left(src='/img/gifs/morphing.gif')
    h4.short(ng-bind='_INT("Морфинг");')
    p(ng-bind='_INT("Morphing («трансформация», англ.) – плавный последовательный переход от одного изображения к другому (в отличие от флипа, при котором изображения «переключаются»). Изображения буквально «перетекают» друг в друга.");')
    p(ng-bind='_INT("Морфинг можно сочетать с прочими варио-эффектами для дополнительного визуального воздействия.");')
    .clearfix