extends _shared-part
block side-menu
    include _technology-side-menu
block content
    p
        | {{ _INT("Линзовый растр имеет следующие важные оптические характеристики:"); }}
    h4(ng-bind='_INT("Линиатура (lpi)");')
    p
        | {{ _INT("Этот параметр определяет количество линз на дюйм. От него зависят размер линзы и ее диаметр."); }}
        |  {{ _INT("Чем больше значение lpi, тем мельче линзы растра и тем они лучше подходят для печати малоформатных изображений."); }}
        |  {{ _INT("И, наоборот, чем меньше значение lpi – тем более крупные изображения можно напечатать."); }}
    h4(ng-bind='_INT("Угол обзора (градусы)");')
    p
        | {{ _INT("Угол, в пределах которого напечатанное изображение полностью «раскрывается» для просмотра."); }}
    h4(ng-bind='_INT("Таблица оптических характеристик «СтереоСтекла»");')
    table
        tr
            th(ng-bind='_INT("Линиатура");')
            th(ng-bind='_INT("Угол обзора");')
            th(ng-bind='_INT("Расстояние просмотра");')
            th(ng-bind='_INT("Применение");')
        tr
            td {{ _INT("20 lpi"); }}
            td {{ _INT("25°"); }}
            td {{ _INT("1,5 – 9,1 м"); }}
            td
                | {{ _INT("Линзовый растр имеет великолепный 3D эффект. Он устойчив к внешним воздействиям и ультрафиолету."); }}
                |  {{ _INT("Разработан для подсвечиваемой рекламы, напольной, настенной плитки, больших панно. Особенно подходит для большой 3D-графики с огромной глубиной."); }}