extends _shared-part
block side-menu
    include _technology-side-menu
block content
    ol
        li(ng-bind='_INT("Толщина плитки 4 мм ±0,2 мм.");')
        li(ng-bind='_INT("Вес 1 м² плитки 9,5 кг ±0,1 кг.");')
        li(ng-bind='_INT("Соответствует ГОСТу 30698-2000 и ДСТУ Б В.2.7-110-200.");')
        li(ng-bind='_INT("Сопротивление к износу (стиранию) соответствует группе 4 (PEI IV) (для помещений с интенсивностью движения от средней до высокой).");')
        li(ng-bind='_INT("Степень пыле- и влагозащиты IP 66.");')
        li(ng-bind='_INT("Выдерживает температуру от -20°С до +100°С.");')
        li(ng-bind='_INT("Термическое сопротивление 0,00534 м² К/Вт.");')
        li(ng-bind='_INT("Стойкость к кислотам высокой концентрации, спирту, бытовым химикатам и солям.");')
        li(ng-bind='_INT("Ударостойкая (выдерживает удар металлического шара весом 227 гр., с высоты 2 метров, в соответствии с ГОСТом 30698-2000 и ДСТУ Б В.2.7-110-200).");')
        li(ng-bind='_INT("При превышении предела прочности вся плитка распадается на мелкие осколки (размеры осколков от 1 до 10 мм).");')
        li(ng-bind='_INT("Коэффициент упругости при изгибе 66 000–73 500 МПа.");')
        li(ng-bind='_INT("Разность длин диагоналей плитки не более 0,5 мм.");')
        li(ng-bind='_INT("Предельные отклонения размеров плитки не более 0,3 мм.");')
        li
            | {{ _INT("Температурный коэффициент линейного расширения"); }}
            | 9&middot;10
            sup -6
            |  °С
            sup -1
        li(ng-bind='_INT("Имеет сертификаты соответствия, санитарные сертификаты, пожарные сертификаты России и Украины.");')
        li(ng-bind='_INT("Имеет сертификат соответствия США.");')
        li(ng-bind='_INT("Плитка пригодна для применения в жилых и общественных помещениях. Абсолютно во всех помещениях квартир, ночных клубах, ресторанах, офисах, магазинах, отелях (лестницы и холлы в жилых домах, террасы, балконы, лоджии, полы в офисах и гостиницах, и т.п.).");')
