extends _shared-part
block side-menu
    include _technology-side-menu
block content
    p
        | {{ _INT("В основе изготовления нашей продукции лежит запатентованная технология производства линзового растра из ударопрочного закаленного стекла."); }}
        |  {{ _INT("В результате многолетних изысканий, нашей команде удалось добиться оптимальных показателей прочности, толщины, линиатуры, плотности, теплостойкости и светопреломления используемого материала."); }}
    p
        | {{ _INT("Линзовый растр (также его можно назвать «стереостекло») представляет собой листовое закаленное стекло с нанесенными на него параллельными линзами."); }}
        |  {{ _INT("Благодаря особым оптическим свойствам линзы формируют трёхмерную картинку из специальным образом закодированного изображения на подложке"); }}