extends _shared-part
block side-menu
    include _technology-side-menu
block content
    p(ng-bind='_INT("Методы визуализации изображения, основанные на стереоэффекте:");')
    .sg-gif-player.sg-photo.right(static='/img/gifs/stereo.jpg' anim='/img/gifs/stereo.gif')
    h4.short(ng-bind='_INT("Стерео фото");')
    p(ng-bind='_INT("Стерео фото (3D фото) отличается от обычного тем, что позволяет запечатлеть стереоскопическое изображение, которое создаёт иллюзию объемности, пространственности наблюдаемой картины.");')
    p(ng-bind='_INT("Стерео камера представляет собой камеру с двумя или более объективами, что позволяет камере имитировать бинокулярное зрение человека и, следовательно, дает возможность захвата трехмерных изображений, процесс известный как стереофотография.");')
    p(ng-bind='_INT("Расстояние между объективами стерео камеры (внутриосевое расстояние) соответствует расстоянию между глазами человека – около 6,35 см. Более широкая база (большее расстояние между объективами) приводит к большей глубине изображения либо используется для съемки отдаленных объектов.");')
    .clearfix
    .sg-gif-player.sg-photo.left(static='/img/gifs/pseudo.jpg' anim='/img/gifs/pseudo.gif')
    h4.short(ng-bind='_INT("Псевдостерео");')
    p(ng-bind='_INT("Псевдо стерео (преобразованное из 2D в 3D) – стереоизображение, созданное из плоского изображения с использованием специальных программ, либо специальных возможностей в обычном графическом редакторе.");')
    p(ng-bind='_INT("Также как в «традиционном» стерео, имеет ярко выраженную глубину, объекты разноудалены, количество визуально различимых планов не ограничено, при этом эффект глубины изображения может достигать 40 см.");')
    p(ng-bind='_INT("При качественном исполнении такое стереоизображение очень сложно отличить от стерео фотографии или специальным образом созданной 3D сцены.");')
    .clearfix
    .sg-gif-player.sg-photo.right(static='/img/gifs/render.jpg' anim='/img/gifs/render.gif')
    h4.short(ng-bind='_INT("3D-моделирование");')
    p(ng-bind='_INT("С помощью технологии 3D-моделирования можно создать точную копию конкретного предмета, не существующий объект или сцену.");')
    p(ng-bind='_INT("Процесс визуализации такой сцены, выполняемый с помощью профессионального программного обеспечения, называется рендеринг.");')
    p(ng-bind='_INT("Производя рендеринг с разных ракурсов, учитывающих особенности человеческого зрения, можно получить стерео-изображения способом, аналогичным способу использования стерео-камеры. При помещении на «СтереоСтекло» такое изображение обретёт подлинную трёхмерность!");')
    .clearfix
    br
    p(ng-bind='_INT("В качестве источника для «СтереоСтекла» могут использоваться фотографии, полученные с использованием стерео камеры или специальных камер, строящих карту глубины сцены в процессе съемки, практически любые обычные (двухмерные) изображения, подготовленные при помощи специальных программ для формирования псевдо стерео эффекта, а также изображения, полученные в результате рендеринга 3D-моделей.");')