extends  _shared-part
block side-menu
    include _video-side-menu
block content
    video#assortment.video-js.vjs-default-skin(width='80%')
        source(src='/video/video2.mp4' type='video/mp4' data-res='720')
        source(src='/video/video2.mp4' type='video/mp4' data-res='480')