extends  _shared-part
block side-menu
    include _video-side-menu
block content
    video.video-js.vjs-default-skin(controls
    preload='auto'
    width='100%')
        source(src='/video/video2.mp4' type='video/mp4')