extends  _shared-part
block side-menu
    include _video-side-menu
block content
    video#interior.video-js.vjs-default-skin(width='80%')
        source(src='/video/interior-720.mp4' type='video/mp4' data-res='720')
        source(src='/video/interior-480.mp4' type='video/mp4' data-res='480')
        source(src='/video/interior-360.mp4' type='video/mp4' data-res='360')