extends  _shared-part
block side-menu
    include _video-side-menu
block content
    p
        | {{ _INT("В данной вкладке вашему вниманию представлены видеоролики, которые наглядно демонстрируют применение нашей продукции исключительно в качестве панно и плитки. А также раскрывают такие свойства «СтереоСтекла»- как ударопрочность, термостойкость и износоустойчивость. Более полный ассортимент выпускаемой нами палитры рисунков вы найдете на странице"); }}
        | &nbsp;
        a(href='#/goods') {{ _INT("Наш товар"); }}