extends  _shared-part
block side-menu
    include _video-side-menu
block content
    video#assortment.video-js.vjs-default-skin(width='80%'
    data-setup='{ "techOrder": ["youtube"], \
    "src": "http://www.youtube.com/watch?v=8aF4Wd_TSpA" }')
