// Main SG Color
$sg-winered: #9c1122;

// Goods colors
$sg-red: #f00;
$sg-orange: #ffa500;
$sg-brown: #8b4513;
$sg-yellow: #ff0;
$sg-green: #008000;
$sg-blue: #23527c;
$sg-violet: #808;

$sg-black: #000;
$sg-lightgray: #d3d3d3;
$sg-white: #fff;

// Rating colors
$sg-gold: #d9a441;
$sg-silver: #c0c0c0;
$sg-bronze: #51412d;


// corresponding color styles
.sg-red-i {
  color: $sg-red;
}

.sg-orange-i {
  color: $sg-orange;
}

.sg-brown-i {
  color: $sg-brown;
}

.sg-yellow-i {
  color: $sg-yellow;
}

.sg-green-i {
  color: $sg-green;
}

.sg-blue-i {
  color: $sg-blue;
}

.sg-violet-i {
  color: $sg-violet;
}

.sg-black-i {
  color: $sg-black;
}

.sg-gold-i {
  color: $sg-gold;
}

.sg-silver-i {
  color: $sg-silver;
}

.sg-bronze-i {
  color: $sg-bronze;
}
