.goods-paginator(ng-if="goods.filtered.length > goods.currentItemsPerPage")
    span(ng-bind='_INT("Подобрано товаров: %s - %s из %s", (goods.currentPage-1)*goods.currentItemsPerPage + 1, goods.filtered.length > goods.currentPage*goods.currentItemsPerPage ? goods.currentPage*goods.currentItemsPerPage : goods.filtered.length, goods.filtered.length);')
    dir-pagination-controls(template-url="/templates/directiv7e/dirPagination")
    span {{ _INT("На странице"); }}
    select.form-control(ng-model='goods.currentItemsPerPage'
    ng-options='opt for opt in goods.ippArray'
    style='width: auto;')