.sg-l2-wrapper.row
    br
    .col-xs-1.reset-column
        .reset-button: i.fa.fa-remove(ng-click='goods.resetFilters()')
    .col-xs-11.goods-filters
        include _goods-filters
    .col-xs-12
        include _goods-paginator-onepage
        include _goods-paginator

        ul.goods-list.clearfix
            li.sg-layout.col-lg-3.col-md-4.col-sm-4.col-xs-6.col-xxs-12(current-page="goods.currentPage"
            dir-paginate="good in goods.filtered = (goods.list) |\
                        itemsPerPage: goods.currentItemsPerPage")
                //- ng-click needed if clicking same good after modal close
                .good-block
                    .sg-gif-player(static='{{ goods.getThumbStatic(good) }}' anim='{{ goods.getThumbAnim(good) }}')
                    .glass-block
                        a.good-expand(href='{{"#/goods?ref=" + good.reference}}' ng-click='goods.openModal()')
                            i.fa.fa-expand
                        .sg-blick(random='5')
                    .good-reference {{_INT("Арт."); }} {{ _.padLeft(good.reference, 5, "0") }}

        include _goods-paginator