.modal-body
    button.close(type="button" data-dismiss="modal" aria-hidden="true" ng-click="vm.close()")
        i.fa.fa-times
    img.img-responsive.center-block(ng-src="{{ vm.imgSrc }}" sg-on-img-load='vm.setLoadedState()')
    .sg-miniature-loader-indicator(ng-show='!vm.imgLoaded')
        i.fa.fa-spinner.fa-pulse
    .sg-miniature-gallery-prev(ng-if='vm.galleryMode' ng-click='vm.prevImg();')
        i.fa.fa-chevron-circle-left
    .sg-miniature-gallery-next(ng-if='vm.galleryMode' ng-click='vm.nextImg();')
        i.fa.fa-chevron-circle-right
