.modal-header
    button.close(type="button" data-dismiss="modal" aria-hidden="true"
    ng-click="vm.cancel()") &times;
    sg-rating(linked-object='vm.layouts[vm.idx]' one-row second-instance
    ng-show='vm.filters.current[vm.viewMode].subType !== "byRater"').sg-inline-block
    i.glyphicon.glyphicon-star.sg-gold-i(ng-show='vm.filters.current[vm.viewMode].subType === "byRater"'
    style='font-size: 20px')
    | {{ getAssignedRating(lts[idx]) }}
    | &nbsp;&nbsp;
    .sg-gallery-loader-indicator
        i.fa.fa-spinner.fa-pulse(ng-show='!vm.imgLoaded')
    | &nbsp;&nbsp;
    span
        | Просмотр изображений: {{vm.idx + 1}} из {{ vm.layouts.length }} &nbsp;

.modal-body.modal-gallery(ng-keypress="keyHandler($event)" tabindex="0")
    a.carousel-control.left(href="" ng-click='vm.prevImg()' ng-show="vm.idx !== 0")
        span.glyphicon.glyphicon-chevron-left
    img.img-responsive.center-block(ng-src='{{vm.getLayoutUrl();}}' sg-on-img-load='vm.setLoadedState();")
    a.carousel-control.right(href="" ng-click='vm.nextImg()' ng-show="vm.idx !== (vm.layouts.length - 1)")
        span.glyphicon.glyphicon-chevron-right
