.modal-header
    button.close(type="button" data-dismiss="modal" aria-hidden="true" ng-click="vm.cancel()") &times;
    h4.modal-title.text-center(ng-bind-html="vm.header")
.modal-body
    div.text-justify(ng-bind-html="vm.message")
    br
    img.img-responsive.center-block(ng-src="{{ ::vm.url }}")
.modal-footer
    .col-xs-2
    button.btn.btn-danger.col-xs-4(ng-click="vm.ok()") Да
    button.btn.col-xs-4(ng-click="vm.cancel()") Нет