.lang-switcher {
  backface-visibility: hidden; // needed for Android browser
  border: 0;
  margin-left: -1px;
  opacity: .85;
  padding: 0;
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
  transition: .25s linear;
  z-index: 100;

  &.visible {
    transform: scaleY(1);
    transition: .25s linear;
  }

  .lang-selector {
    @include black-glossy-background;
    // override usual settings
    cursor: pointer;
    display: block;

    span {
      color: $sg-white;

      @include on-xs-plus {
        display: none;
      }
    }
  }
}
