.main-carousel {
  display: none;
}

.horizon-prev, .horizon-next {
  position: fixed;
  top: 50%;
  margin-top: -24px;
  z-index: 9999;
}
.horizon-prev {
  left: 20px;
}
.horizon-next {
  right: 20px;
}

#wrapper-mainpage {
  width: 100%;
}

section.sg-hor-scroll {
  position: relative;
  display: block;
  float: left;
  height: 100%;
  padding: 0;
  margin: 0;

  & img.bg-room {
    display: block;
    width: 100%;
  }
}
