.btn.btn-primary.form-control(ngf-select='true'
ngf-change='upload($files)'
accept="{{ accept }}") Загрузить файл
progressbar.progress-striped(type='success'
    value='progress || 0'
    ng-class='{ "active": progress < 100 }')