.form-group
    label.control-label(ng-bind-html="colorString")
    label.control-label(ng-bind="assortmentString")
    label.control-label(ng-bind="plotsString")
    label.control-label(ng-bind="countriesString")
    br
    label.control-label Загружен: {{layout.createdAt | date: 'short'}}
    br
    label.control-label Дизайнер: {{layout.createdBy}}
    .form-group
        textarea#designer-layout-comment.form-control(rows='4', readonly, ng-model="layout.designerComment")