.form-group
    label.control-label(ng-bind-html="getColors()")
    label &nbsp; &#47; &nbsp;
    label.control-label(ng-bind="getValues('catAssortment', 'assortmentHash')")
    label &nbsp; &#47; &nbsp;
    label.control-label(ng-bind="getValues('catPlots', 'plotsHash')")
    label &nbsp; &#47; &nbsp;
    label.control-label(ng-bind="getValues('catCountries', 'countriesHash')")
    br
    label.control-label Загружен: {{filteredLayouts[pager.selectedIndex].createdAt | date: 'short'}}
    br
    label.control-label Дизайнер: {{filteredLayouts[pager.selectedIndex].createdBy}}
    .form-group
        textarea#designer-layout-comment.form-control(rows='4', readonly, ng-model="filteredLayouts[pager.selectedIndex].designerComment")