.modal-header
    button.close(type="button" data-dismiss="modal" aria-hidden="true" ng-click="vm.cancel()") &times;
    h4.modal-title.text-center Загрузить макеты

.modal-body
    .row
        .col-xs-4
            img.img-responsive.center-block(ng-src="{{::vm.url}}")
        .col-xs-8
            span Работа будет считается выполненной, если вы загрузите следующие файлы:
            br
            br
            .row
                .col-xs-7
                    | <b>GIF</b> в <b>высоком</b> разрешении (для просмотра)
                sg-file-upload.col-xs-4(accept=".gif" layout="vm.layout" field="urlGifHiRes")
                .fa.fa-2x.sg-shadowed-text(ng-class="{'sg-green-id fa-check': vm.layout.urlGifHiRes, \
                'sg-red-i fa-remove': !vm.layout.urlGifHiRes}")
            .row
                .col-xs-7
                    | <b>GIF</b> в <b>низком</b> разрешении (250 пикс. по одной из сторон, для сайта)
                sg-file-upload.col-xs-4(accept=".gif" layout="vm.layout" field="urlGifLoRes")
                .fa.fa-2x.sg-shadowed-text(ng-class="{'sg-green-id fa-check': vm.layout.urlGifLoRes, \
                'sg-red-i fa-remove': !vm.layout.urlGifLoRes}")
            .row
                .col-xs-7
                    | оригинал-макет в формате <b>PSD (ZIP, RAR)</b> <b>(опционально)</b>
                sg-file-upload.col-xs-4(accept='.psd,.zip,.rar' layout="vm.layout" field='urlPsdLayout')
                .fa.fa-2x.sg-shadowed-text(ng-class="{'sg-green-id fa-check': vm.layout.urlPsdLayout, \
                'sg-red-i fa-remove': !vm.layout.urlPsdLayout}")
            .row
                .col-xs-7
                    | файл проекта в формате <b>P3D</b> <b>(опционально)</b>
                sg-file-upload.col-xs-4(accept='.p3d' layout="vm.layout" field='urlTxtProject')
                .fa.fa-2x.sg-shadowed-text(ng-class="{'sg-green-id fa-check': vm.layout.urlTxtProject, \
                'sg-red-i fa-remove': !vm.layout.urlTxtProject}")
            .row
                .col-xs-7
                    | макет для печати в формате <b>TIFF</b> <b>(опционально)</b>
                sg-file-upload.col-xs-4(accept='' layout="vm.layout" field='urlTifLayout')
                .fa.fa-2x.sg-shadowed-text(ng-class="{'sg-green-id fa-check': vm.layout.urlTifLayout, \
                'sg-red-i fa-remove': !vm.layout.urlTifLayout}" style="opacity: 0.5")
            .row
                .col-xs-12
                    | Размер каждого файла не должен превышать <b>400 МБ</b>
    br
    br
    .row
        .form-horizontal
            .form-group
                label.control-label.col-xs-2 Комментарий
                .col-xs-9: textarea.form-control.sg-noresize(rows="6" ng-model="vm.comment")

.modal-footer
    button.btn.btn-primary.col-xs-3(ng-click="vm.submit()" ng-disabled="!vm.canSubmit()") Принять
    button.btn.col-xs-3(ng-click="vm.cancel()") Отмена