.modal-header
    button.close(type="button" data-dismiss="modal" aria-hidden="true" ng-click="cancel()") &times;
    h5.modal-title Редактирование изображения

.modal-body
    .form-group.col-xs-4
        img(ng-src='/uploads/{{layout.urlDir}}/{{layout.urlThumb}}')
    .form-group.col-xs-8
        label.control-label Название
        input.form-control(name="username", ng-required="", autofocus, ng-model="layout.name")
    .col-xs-2
        label.control-label(ng-click="reset('colors')") Цвета
    .col-xs-6
        select.selectpicker(multiple data-none-selected-text="Все"
        sg-bs-select='serverFilters.colors' exec-on-change='loadData()')
    .col-xs-8(style='height: 15px')
    .col-xs-2
        label.control-label(ng-click="reset('colors')") Ассортимент
    .col-xs-6
        select.selectpicker(multiple data-none-selected-text="Все"
        sg-bs-select='serverFilters.colors' exec-on-change='loadData()')
    .col-xs-8(style='height: 15px')
    .col-xs-2
        label.control-label(ng-click="reset('colors')") Сюжеты
    .col-xs-6
        select.selectpicker(multiple data-none-selected-text="Все"
        sg-bs-select='serverFilters.colors' exec-on-change='loadData()')
    .col-xs-8(style='height: 15px')
    .col-xs-2
        label.control-label(ng-click="reset('colors')") Страны
    .col-xs-6
        select.selectpicker(multiple data-none-selected-text="Все"
        sg-bs-select='serverFilters.colors' exec-on-change='loadData()')
    .col-xs-8(style='height: 15px')
    .form-group
        label.control-label Комментарий
        textarea.form-control(rows='6' ng-model="layout.comment")

.modal-footer
    .center-block
        button.btn.btn-danger.col-xs-5(ng-click="result.password !== result.confirm || ok()" ng-class="{disabled: result.password !== result.confirm}") Да
        button.btn.btn-primary.col-xs-5(ng-click="cancel()") Нет