.modal-header
    button.close(type="button" data-dismiss="modal" aria-hidden="true" ng-click="close()") &times;
    .modal-title Просмотр изображений. {{idx + 1}} из {{lts.length}} &nbsp;
        i.fa.fa-spinner.fa-pulse.sg-multicolor(ng-show="imgIsLoading")
.modal-body(ng-keypress="key($event)" tabindex="0")
    a.carousel-control.left(href="" ng-click='prevImg()' ng-show="idx !== 0")
        span.glyphicon.glyphicon-chevron-left
    img.img-responsive.center-block(ng-src='{{imgUrl}}' sg-on-imgload="loaded()")
    a.carousel-control.right(href="" ng-click='nextImg()' ng-show="idx !== lts.length - 1")
        span.glyphicon.glyphicon-chevron-right
