.modal-header
    .text-center Ошибка!

.modal-body: .row
    .col-xs-12
        | Неверный или устаревший токен сброса пароля.
    .col-xs-12
        br
        button.form-control.btn.btn-primary(ng-click='vm.close()') OK