.modal-header
    button.close(type="button" data-dismiss="modal" aria-hidden="true" ng-click="vm.cancel()") &times;
    h4.modal-title.text-center Выбрать исполнителя для изображения
.modal-body
    .col-sm-3
        img.img-responsive.center-block(ng-src="{{::vm.url}}")
    .col-sm-9
        .form-horizontal(role='form')
            .form-group
                label.control-label.col-xs-2 Автор
                label.control-label.sg-plain {{ vm.layout.createdBy }}
            .form-group
                label.control-label.col-xs-2 Дизайнер
                .col-xs-5.sg-nopadding
                    select.form-control(ng-options='d for d in vm.designers' ng-model='vm.assignedTo')
            .form-group
                textarea.col-xs-12.sg-noresize(rows="6" ng-model='vm.comment')
            .form-group
                .checkbox-inline
                    label
                        input(type='checkbox' ng-model='vm.sendEmail')
                        | Отправить уведомление по e-mail

    .row
.modal-footer
    .col-xs-4
    button.btn.btn-primary.col-xs-2(ng-click="vm.ok()" ng-disabled='!vm.assignedTo') Назначить
    button.btn.col-xs-2(ng-click="vm.cancel()") Отмена