.modal-header
    button.close(type="button" data-dismiss="modal" aria-hidden="true" ng-click="vm.cancel()") &times;
    h4.modal-title.text-center Загрузить макеты

.modal-body
    .row
        .col-xs-4
            img.img-responsive.center-block(ng-src="{{::vm.url}}")
        .col-xs-8
            span Работа будет считается выполненной, если вы загрузите следующие файлы:
            br
            br
            .row
                .col-xs-8
                    | <b>GIF</b> в <b>высоком</b> разрешении (для просмотра)
                sg-file-upload.col-xs-4(accept='.gif' layout='vm.layout' field='gifHiRes')
            .row
                .col-xs-8
                    | <b>GIF</b> в <b>низком</b> разрешении (250 пикс. по одной из сторон, для сайта)
                sg-file-upload.col-xs-4(accept='.gif' layout='vm.layout' field='gifLoRes')
            .row
                .col-xs-8
                    | оригинал-макет в формате <b>PSD</b>
                sg-file-upload.col-xs-4(accept='.psd' layout='vm.layout' field='psdLayout')
            .row
                .col-xs-8
                    | файл проекта в формате <b>TXT</b>
                sg-file-upload.col-xs-4(accept='.txt' layout='vm.layout' field='txtProject')
            .row
                .col-xs-8
                    | (опционально) макет для печати в формате <b>TIFF</b>
                sg-file-upload.col-xs-4(accept='.tif,.tiff' layout='vm.layout' field='tifLayout')
            .row
                br1
                label.control-label Комментарий
                textarea.form-control.sg-noresize(rows="6" ng-model="vm.comment")

.modal-footer
    button.btn.btn-primary.col-xs-3(ng-click="vm.submit()") Принять
    button.btn.col-xs-3(ng-click="vm.cancel()") Отмена