.ns-popover-tooltip
    .popover-comments-block
        ul.popover-comments-list
            li(ng-repeat="comment in layout.comments")
                .popover-comment-header
                    b(ng-style='paginator.getCommenterTextColor(comment.postedBy)') {{ comment.postedBy }}
                    | &nbsp;&nbsp;
                    i {{ comment.postedAt | date : 'd MMM, H:mm' }}
                .popover-comment-text
                    | {{ comment.text }}
                hr