// row1
img(sg-alt-src="smoke" style="width:16.66%; height:33.33%;")
img.sg-fliph(sg-alt-src="smoke" style="width:16.66%; height:33.33%;")
img(sg-alt-src="smoke" style="width:16.66%; height:33.33%;")
img.sg-fliph(sg-alt-src="smoke" style="width:16.66%; height:33.33%;")
img(sg-alt-src="smoke" style="width:16.66%; height:33.33%;")
img.sg-fliph(sg-alt-src="smoke" style="width:16.66%; height:33.33%;")
// row2
img.sg-flipv(sg-alt-src="smoke" style="width:16.66%; height:33.33%;")
img.sg-flipb(sg-alt-src="smoke" style="width:16.66%; height:33.33%;")
img.sg-flipv(sg-alt-src="smoke" style="width:16.66%; height:33.33%;")
img.sg-flipb(sg-alt-src="smoke" style="width:16.66%; height:33.33%;")
img.sg-flipv(sg-alt-src="smoke" style="width:16.66%; height:33.33%;")
img.sg-flipb(sg-alt-src="smoke" style="width:16.66%; height:33.33%;")
// row3
img(sg-alt-src="smoke" style="width:16.66%; height:33.33%;")
img.sg-fliph(sg-alt-src="smoke" style="width:16.66%; height:33.33%;")
img(sg-alt-src="smoke" style="width:16.66%; height:33.33%;")
img.sg-fliph(sg-alt-src="smoke" style="width:16.66%; height:33.33%;")
img(sg-alt-src="smoke" style="width:16.66%; height:33.33%;")
img.sg-fliph(sg-alt-src="smoke" style="width:16.66%; height:33.33%;")
