.sg-l2-wrapper
    .sg-dealers-main-body.sg-glass-background
        .content
            p {{ _INT("Добрый день, наша компания уже несколько лет занимается исследованиями методик и разработкой новых материалов в сфере строительства и декора."); }}
            p
                | {{ _INT("И вот, мы рады представить вам наш новый продукт – "); }}
                b {{ _INT("«СтереоСтекло»"); }}
                | .
                | {{ _INT("Более подробно о нем вы сможете прочесть "); }}
                a(href='#/about')  {{ _INT("здесь"); }}
            p {{ _INT("В 2015 году мы решили нарастить объемы выпускаемой продукции и открыли филиал нашего производства в КНР. Вот почему сейчас мы хотели бы расширить дилерскую сеть до международного уровня."); }}
            p {{ _INT("Поэтому приглашаем к сотрудничеству:"); }}
            ul
                li {{ _INT("торгующие организации;"); }}
                li {{ _INT("салоны;"); }}
                li {{ _INT("сетевые гипермаркеты;"); }}
                li {{ _INT("строительные организации;"); }}
                li {{ _INT("архитектурные бюро;"); }}
                li {{ _INT("производственные компании (со смежным уклоном);"); }}
                li {{ _INT("архитекторов, дизайнеров, декораторов."); }}
            p
                | {{ _INT("Если Вы хотите стать нашим авторизованным дилером или контрагентом по выпуску готовых изделий на основе «СтереоСтекла» – пожалуйста, заполните "); }}
                a {{ _INT("специальную форму"); }}
                |  {{ _INT("прямо на сайте или скачайте ее в удобном для вас формате: "); }}
                a PDF
                | ,&nbsp;
                a XLS&nbsp;
                | {{ _INT("после чего отправьте на этот адрес."); }}
            p {{ _INT("Мы обязательно свяжемся с вами."); }}