.sg-gif-player {
  position: relative;

  img {
    width: 100%;
  }

  .fa {
    color: rgba($sg-black, .45);
    font-size: 50px;
    left: 50%;
    line-height: 50px;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    text-shadow: 0 0 5px rgba($sg-silver, .5);
    top: 50%;

    &.invisible {
      opacity: 0;
      transition: all .25s;
    }

    &:hover {
      color: rgba($sg-black, .75);
      cursor: pointer;
      transition: all .25s;
    }

    &:active {
      color: $sg-white;
      text-shadow: none;
      transform: scale(1.25);
      transition: all .25s;
    }
  }
}
