include ../_version
header(ng-show='header.loader.isSuccessful')
    .sg-wrapper.container-fluid.clearfix
        a(href='#/')
            .logo-container
                .logo-blicker(sg-blick random='5' interval='15')
                img.logo-upper(src='img/logo-upper.png' alt="Stereo.Glass logo")
                img.logo-words(src="img/logo-words-glowed.png" alt="design the motion")
        .navwrapper
            nav
                ul.menu-pages
                    li(ng-class='{"nav-selected": header.settings.currentPage === "about"}')
                        a(sg-blick random='3' ng-bind='_INT("Подробно");' href='#/about')
                    li(sg-blick random='3' ng-class='{"nav-selected": header.settings.currentPage === "goods"}')
                        a(ng-bind='_INT("Наш товар");' href='#/goods')
                    li(sg-blick random='3' ng-class='{"nav-selected": header.settings.currentPage === "dealers"}')
                        a(ng-bind='_INT("Дилерам");' href='#/dealers')
                    li(sg-blick random='3' ng-class='{"nav-selected": header.settings.currentPage === "contacts"}')
                        a(sg-blick ng-bind='_INT("Контакты");' href='#/contacts')
                    li
                        a.flag-container(sg-blick random='3')
                            img(ng-src="{{ 'img/flags/' + header.IntSvc.currentLang + '.png' }}")
                            span(ng-bind='header.INT.currentLang')
                        sg-lang-switcher
        .wrapper-nav-buttons
            button#login-button.sg-btn(ng-if="!header.currentUser.name"
            ng-bind='_INT("Войти");' ng-click="header.signInRegister()")
                i.fa.fa-sign-in
            button#admin-button.sg-btn(ng-if="header.currentUser.name")
                a(href='/admin')
                    | {{ header.currentUser.name }}
                    i.fa.fa-user
            form(name="search" action="#" method="get")
                input#search-input(type="text" name="q" placeholder='{{ _INT("Поиск..."); }}')
                i.fa.fa-search