extends mainLayout
block content
    include loader
    include header
    .sg-main-wrapper(ng-show='main.loader.isSuccessful && main.settings.currentPage === "main"')
        include wrapper-mainpage