extends mainLayout
block content
    div(ng-controller='Layout as layouter')
        include loader
        include header
        .sg-main-wrapper(ng-show='layouter.isSuccessful && layouter.settings.currentPage === "main"')
            include wrapper-mainpage