extends mainLayout
block content
    div(ng-controller='MainPage as main')
        include loader
        include header
        .sg-main-wrapper(ng-show='main.loader.isSuccessful && main.settings.currentPage === "main"')
            include wrapper-mainpage