div(ng-if='!header.loader.isSuccessful')
    .sg-loader-container
        .sg-loader(style="color: white; font-size: 28px; margin: auto; position: absoluge; left: 0; right: 0; top: 0; bottom: 0;") Loading {{ header.loader.percentLoaded }}%