div(ng-if='!header.loader.isSuccessful')
    .sg-loader-container
        .sg-loader(style="color: white; font-size: 28px; margin: auto; position: absolute; width: 40%; left: 30%; height: 10%; top: 45%;") Loading {{ header.loader.percentLoaded }}%