div(ng-if='!header.loader.isSuccessful && header.loader.initial')
    .sg-loader-container
        img.bar(src='/img/logo1000bw.png')
        .progress.bar(sg-progress='{{header.loader.percentLoaded}}')
            img(src='/img/logo1000.png')