.main-carousel.sg-carousel
    .horizon-prev(ng-click='main.scrollLeft()')
        i.fa.fa-chevron-circle-left.fa-3x
    .horizon-next(ng-click='main.scrollRight()')
        i.fa.fa-chevron-circle-right.fa-3x
    sg-wide-screen(ratio='1.85')
    section.sg-main-sec0.sg-hor-scroll.sg-carousel-section(sg-center-vertical sg-scroller-section)
        .sg-video-overlay(for='videoclip' sg-center-vertical='-' ng-if='main.settings.currentPage === "main"')
        video#videoclip(preload='metadata' sg-center-vertical='-')
            source(src='/video/clip.mp4')
            source(src='/video/clip.webm' type='video/webm')
        img#cinema.bg-room(ng-src="{{main.getBkSrc('cinema')}}")
    section.sg-main-sec1.sg-hor-scroll.sg-carousel-section(sg-center-vertical sg-scroller-section)
        .sg-plate3d(coords='{{main.settings.coords.clock}}' for='main-living-room')
            img(sg-alt-src="clock")
        .sg-plate3d(coords='{{main.settings.coords.buddha}}' for='main-living-room')
            img(sg-alt-src="buddha")
        img#main-living-room.bg-room(ng-src="{{main.getBkSrc('livingroom')}}")
    section.sg-main-sec2.sg-hor-scroll.sg-carousel-section(sg-center-vertical sg-scroller-section)
        .sg-plate3d(coords='{{main.settings.coords.kitchen1}}' for='main-kitchen')
            img(sg-alt-src="kitchen-wl1")
        .sg-plate3d(coords='{{main.settings.coords.kitchen2}}' for='main-kitchen')
            img(sg-alt-src="kitchen-wl2")
        .sg-plate3d(coords='{{main.settings.coords.kitchen3}}' for='main-kitchen')
            img(sg-alt-src="kitchen-wl3")
        .sg-plate3d(style="width: 1200px; height: 1200px;" coords='{{main.settings.coords.kitchenfloor}}' for='main-kitchen')
            include floor/_kitchen
        img#main-kitchen.bg-room(ng-src="{{main.getBkSrc('kitchen')}}")
    section.sg-main-sec3.sg-hor-scroll.sg-carousel-section(sg-center-vertical sg-scroller-section)
        .sg-plate3d(coords='{{main.settings.coords.teddybear}}' for='main-childroom')
            img(sg-alt-src="teddybear")
        .sg-plate3d(coords='{{main.settings.coords.teddyhare}}' for='main-childroom')
            img(sg-alt-src="teddyhare")
        img.sg-plate3d(coords='{{main.settings.coords.teddycat}}' for='main-childroom' sg-alt-src="teddycat")
        img#main-childroom.bg-room(ng-src="{{main.getBkSrc('childroom')}}")
    section.sg-main-sec4.sg-hor-scroll.sg-carousel-section(sg-center-vertical sg-scroller-section)
        .sg-plate3d(coords='{{main.settings.coords.pavilion}}' for='main-bathroom')
            img(sg-alt-src="pavilion")
        .sg-plate3d(coords='{{main.settings.coords.mirror}}' for='main-bathroom' style="z-index:9;")
            img(sg-alt-src="pavilion" style="width: 300px; height: 225px;")
        .sg-plate3d(style="width: 500px; height: 500px;", coords='{{main.settings.coords.bathfloor}}' for='main-bathroom')
            include floor/_bathroom
        img#main-bathroom.bg-room(ng-src="{{main.getBkSrc('bathroom')}}")
    section.sg-main-sec5.sg-hor-scroll.sg-carousel-section(sg-center-vertical sg-scroller-section)
        .sg-plate3d(coords='{{main.settings.coords.aqualeft}}' for='main-club')
            img(sg-alt-src="aqua")
        .sg-plate3d(coords='{{main.settings.coords.aquaright}}' for='main-club')
            img(sg-alt-src="aqua")
        .sg-plate3d(style="width: 900px; 600px;", coords='{{main.settings.coords.clubfloor}}' for='main-club')
            include floor/_club
        img#main-club.bg-room(ng-src="{{main.getBkSrc('club')}}")
    section.sg-main-sec6.sg-hor-scroll.sg-carousel-section(sg-center-vertical sg-scroller-section)
        .sg-plate3d(coords='{{main.settings.coords.tray}}' for='main-caffee')
            img(sg-alt-src="tray")
        .sg-plate3d(coords='{{main.settings.coords.tableft}}' for='main-caffee')
            img(sg-alt-src="tableft")
        .sg-plate3d(coords='{{main.settings.coords.tabmid}}' for='main-caffee')
            img(sg-alt-src="tabmid")
        .sg-plate3d(coords='{{main.settings.coords.tabright}}' for='main-caffee')
            img(sg-alt-src="tabright")
        .sg-plate3d(coords='{{main.settings.coords.advert}}' for='main-caffee')
            img(sg-alt-src="advert")
        img#main-caffee.bg-room(ng-src="{{main.getBkSrc('caffee')}}")
include _version