.sg-layout-controls.text-center(style="height: 36px")
    //- Assign
    i.fa.sg-shadowed-text.fa-stack.fa-lg.sg-layout-control(ng-click='paginator.changeStatus(layout)'
    ng-show='paginator.getAssignmentVisibility(paginator.currentUser.role, layout)')
        .fa-stack-2x(ng-class='paginator.getAssignmentClass(layout.status)')
    //- Eidt
    i.fa.fa-stack.sg-green-i.sg-shadowed-text.fa-lg.sg-layout-control(ng-click='openEditLayoutDialog(layout)'
    ng-show='layout.createdBy === paginator.currentUser.name || paginator.currentUser.role === "admin" || paginator.currentUser.role === "curator"')
        .fa-pencil-square-o.fa-stack-2x
    //- Remove
    i.fa.fa-stack.sg-red-i.sg-shadowed-text.fa-lg.sg-layout-control(ng-click='paginator.confirmRemove(layout)'
    ng-show='layout.createdBy === paginator.currentUser.name || paginator.currentUser.role === "admin"')
        .fa-square-o.fa-stack-2x
        .fa-remove.fa-stack-1x