//- Sort filter for one page
.sg-rate-gallery.text-center(ng-show="gallery.filteredLayouts.length <= gallery.pager.ipp && gallery.filteredLayouts.length > 0")
    include pagination-sort-order
//- Sort filter for multiple pages
.sg-rate-gallery.text-center(ng-show="gallery.filteredLayouts.length > gallery.pager.ipp")
    dir-pagination-controls(template-url="/templates/directive/dirPagination"
    on-page-change="gallery.pageNumberChanged(newPageNumber)")
    br.hidden-lg
    span На странице
    select.form-control.sg-inline-block(ng-model="gallery.pager.ipp"
    ng-options="opt for opt in gallery.pager.ippArray" style="width: auto")
    include pagination-sort-order