.sg-rate-paginator.text-center(ng-show="paginator.filteredLayouts.length > paginator.currentItemsPerPage")
    dir-pagination-controls(template-url="/partials/template-pagination"
    on-page-change="paginator.unselectLayout()")
    br.hidden-lg
    span На странице
    select.form-control.sg-inline-block(ng-model="paginator.currentItemsPerPage"
    ng-options="opt for opt in paginator.itemsPerPage" style="width: auto")
    span Сортировка
    select.form-control.sg-inline-block(ng-model="paginator.filters.currentOrder"
    ng-options="opt.name for opt in paginator.filters.order" style="width: auto")