.form-group: .center-block
    label.control-label Режим отображения
    | &nbsp;&nbsp;
    .btn-group
        label.btn.btn-primary(ng-model="paginator.viewMode" btn-radio="'Rating'")
            i.fa.fa-star
            |   Рейтинги
        label.btn.btn-primary(ng-model="paginator.viewMode" btn-radio="'Progress'")
            i.fa.fa-check-square-o
            |   Прогресс
        label.btn.btn-primary(ng-model="paginator.viewMode" btn-radio="'Ready'")
            i.fa.fa-picture-o
            |   Готовые макеты
        label.btn.btn-primary(ng-model="paginator.viewMode" btn-radio="'Shop'")
            i.fa.fa-shopping-cart
            |   Магазин
