.sg-red-i {
  color: red !important;
}

.sg-orange-i {
  color: orange !important;
}

.sg-brown-i {
  color: saddlebrown !important;
}

.sg-yellow-i {
  color: yellow !important;
}

.sg-green-i {
  color: green !important;
}

.sg-blue-i {
  color: #23527c !important;
}

.sg-violet-i {
  color: darkmagenta !important;
}

.sg-black-i {
  color: black !important;
}

.sg-gold-i {
  color: #D9A441 !important;
}

.sg-silver-i {
  color: silver !important;
}

.sg-bronze-i {
  color: #8C7853 !important;
}

.sg-multicolor {
  color: darkgray;
}
