ul.sg-layout-list {
  display: block;
  list-style: outside none none;
  padding: 0;

  li {
    display: list-item;
    margin-bottom: 10px;
  }
}

.sg-layout-block {
  display: block;
  width: 165px;
  height: 225px;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;

  img {
    width: 125px;
    height: 125px;
    margin: 10px 20px;
    border: 1px solid #D4D4D4;
  }

  &:hover {
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.4);
  }

  &.selected {
    background-color: lightyellow;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5);
  }

  &.selected:hover {
    background-color: lightyellow;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.4);
  }
}

.layout-info {
  /*background-color: lightyellow;*/
  margin-right: 20px;
  height: 270px;
}

.sg-layout-controls {
  margin-bottom: -28px;
}

.sg-layout-control {
  cursor: pointer;
  opacity: 0.55;

  &:hover {
    opacity: 1;
  }

  margin: 0 5px;
}

/*.sg-border-assigned {
  border: 2px dashed dodgerblue !important;
}

.sg-border-accepted {
  border: 2px solid silver !important;
}*/

.sg-border-rejected {
  border: 2px solid red !important;
}

/*.sg-border-finished {
  border: 2px solid #D9A441 !important;
}*/
