ul.sg-layout-list {
  display: block;
  list-style: outside none none;
  padding: 0;

  li {
    display: list-item;
    margin-bottom: 10px;
  }
}

.sg-layout-block-outer {
  display: block;
  box-sizing: content-box;
  //width: 165px;
  height: 250px;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;

  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
  border-color: rgba(0, 0, 0, 0);

  img {
    width: 150px;
    height: 150px;
    margin: 2px auto 5px auto;
    border-bottom: 1px solid #D4D4D4;
    border-radius: 3px;
    display: block;
    // fit image to square
    object-fit: cover;
  }

  &:hover {
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.4);
  }

  &.selected {
    background-color: lightyellow;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.5);
  }

  &.selected:hover {
    background-color: lightyellow;
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.4);
  }
}

.sg-layout-block-inner {
  border-width: 3px;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 3px;

  //width: 165px;
  height: 250px;
}

.sg-layout-controls {
  margin-bottom: -18px;
  height: 36px;
}

.sg-layout-control {
  cursor: pointer;
  opacity: 0.55;

  &:hover {
    opacity: 1;
  }

  margin: 0 5px;
}

.sg-layout-comment-add {
  z-index: 10;
  cursor: pointer;
  position: absolute;
  right: -23px;
  bottom: 45px;
  width: 40px;
  height: 40px;
}

.sg-layout-comments {
  @extend .sg-silver-i;
  z-index: 10;
  position: absolute;
  right: -30px;
  top: 35px;
  width: 50px;
  height: 40px;
}

.sg-comments-number {
  color: white;
  font-size: 11px;
}