.popover-comments-block,
.popover-info-block {
  background-color: whitesmoke;
  border-radius: 3px;
  box-shadow: 0 0 3px 3px rgba($sg-black, .2);
  font-size: 12px;
  max-height: 270px;
  overflow-y: scroll;
  padding: 5px;
  position: relative;
  width: 270px;
  z-index: 20;

  hr {
    border-top: 1px solid rgba($sg-silver, .5);
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.popover-comments-block {
  margin-bottom: 15px;

  .popover-comments-list {
    padding-left: 0;
  }

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li:last-child hr {
    display: none;
  }

  .popover-comment-header {
    margin-bottom: 5px;
  }
}

.popover-info-block {
  margin-top: 15px;
}
