.popover-comments-block, .popover-info-block {
  width: 270px;
  max-height: 270px;
  background-color: whitesmoke;
  position: relative;
  z-index: 20;
  box-shadow: 0 0 3px 3px rgba(black, 0.2);
  border-radius: 3px;
  padding: 5px;
  overflow-y: scroll;
  font-size: 12px;

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid rgba(silver, 0.5);
  }
}

.popover-comments-block {
  margin-bottom: 15px;

  ul.popover-comments-list {
    padding-left: 0;
  }

  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li:last-child hr {
    display: none;
  }

  .popover-comment-header {
    margin-bottom: 5px;
  }

  .popover-comment-text {

  }
}

.popover-info-block {
  margin-top: 15px;
}
