.sg-about-container {
  height: 100%;
}

.sg-about-side-panel {
  display: inline-block;
  height: 100%;
  position: fixed;
  width: 22%;

  .menu-content {
    margin: 10px;

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      border-bottom: rgba(black, .15) 2px ridge;
      cursor: pointer;
      font: 15px/30px "Airbone";
      margin-top: 5px;
    }

    .selected a {
      color: $sg-winered;
    }

    a {
      color: $sg-black;
      display: block;
    }

    a:focus {
      text-decoration: none;
    }
  }

}

.sg-about-main-panel {
  display: inline-block;
  float: right;
  height: 100%;
  width: 78%;
}

.sg-about-main-body {
  min-width: 100%;

  @include on-lg {
    min-height: calc(100% - 44px);
  }

  @include on-md {
    min-height: calc(100% - 39px);
  }

  @include on-sm {
    min-height: calc(100% - 33px);
  }

  @include on-xs {
    min-height: calc(100% - 22px);
  }

  .content {
    margin: 20px;

    a {
      color: saturate($sg-winered, 20%);
      cursor: pointer;
    }

    .panel-heading a {
      color: $sg-black;
      outline: none;
      text-decoration: none;
    }

    .panel-open {
      background-color: rgba($sg-silver, .5);
      color: desaturate($sg-winered, 20%);
    }
  }
}
