.sg-about-container {
  min-height: 100%;
  overflow: hidden;
}

.sg-about-side-panel {
  display: inline-block;
  float: left;
  height: 100%;
  // to equal columns
  margin-bottom: -99999px;
  padding: 10px 10px 99999px;
  width: 22%;


  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    border-bottom: rgba($sg-black, .15) 2px ridge;
    cursor: pointer;
    margin-top: 5px;

    @include on-xs {
      font: 10px/20px "Airbone";
    }

    @include on-md {
      font: 12px/24px "Airbone";
    }

    @include on-lg {
      font: 15px/30px "Airbone";
    }
  }

  .selected a {
    color: $sg-winered;
  }

  a {
    color: $sg-black;
    display: block;
  }

  a:focus {
    text-decoration: none;
  }

}

.sg-about-main-panel {
  float: left;
  width: 78%;
}


.video-js {
  @include on-lg {
    height: 480px !important;
    width: auto !important;
  }

  @include on-md {
    height: 400px !important;
    width: auto !important;
  }

  @include on-sm {
    height: 320px !important;
    width: auto !important;
  }
}
