.sg-about-container {
  height: 100%;
}

.sg-about-side-panel {
  display: inline-block;
  width: 20%;
  height: 100%;
  float: left;
  .content {
    margin: 5px;
  }
}

.sg-about-main-panel {
  display: inline-block;
  width: 80%;
  height: 100%;
  float: left;
}

.sg-about-main-body {
  min-width: 100%;

  @include on-lg {
    min-height: calc(100% - 44px);
  }

  @include on-md {
    min-height: calc(100% - 39px);
  }

  @include on-sm {
    min-height: calc(100% - 33px);
  }

  @include on-xs {
    min-height: calc(100% - 22px);
  }

  .content {
    margin: 10px 15px;
  }
}