.sg-about-container {
  display: table;
  height: 100%;
}

.sg-about-side-panel {
  display: table-cell;
  width: 20%;
  height: 100%;
  float: left;
  .content {
    margin: 5px;
  }
}

.sg-about-main-panel {
  display: table-cell;
  width: 80%;
  height: 100%;
  float: left;
}

.sg-about-main-body {
  width: 100%;
  height: 100%;

  .content {
    margin: 10px 15px;
  }
}