.sg-contacts-main-body {
  min-height: 100%;
  width: 100%;

  .contacts {
    margin: 0 auto;
    width: 100%;

    .office-row:not(:last-child) {
      border-bottom: 1px solid $sg-silver;
    }

    .office-row > td {
      padding: 10px;

      @include on-sm-minus {
        padding: 5px;
      }
    }

    .office-row > td:first-of-type {
      text-align: center;
      width: 25%;
    }

    .office-row > td:last-of-type {
      text-align: center;
      width: 30%;
      @include on-sm-minus {
        width: 35%;
      }
    }
  }

  .content {
    margin: 10px 15px;

    @include on-xs {
      margin: 10px 5px;
    }

    p {
      margin-bottom: 0;
    }

    .fa {
      color: desaturate($sg-winered, 40%);
      text-shadow: 0 0 4px rgba($sg-black, .5);
    }

    .fa-map-marker {
      cursor: pointer;
    }

    a {
      border-bottom: 1px dotted;
      color: $sg-blue;
      cursor: pointer;
    }
  }
}

// digital calendar and clock

.sg-digital-calendar {
  background-color: rgba($sg-black, .8);
  box-shadow: 0 0 5px rgba($sg-black, .5);
  display: inline-block;
  padding: 0 .5em;
  position: relative;
  text-align: center;
  vertical-align: top;

  .open {
    color: rgb(20, 180, 20);
  }

  .closed {
    color: rgb(200, 20, 20);
  }

  tr {
    border: 0;
  }

  .dow {
    font-size: 1.75em;
    line-height: 1.4em;

    @include on-md {
      line-height: 1.5em;
    }

    @include on-sm {
      line-height: 1.45em;
    }

    @include on-xs {
      line-height: 1.45em;
    }
  }

  .date {
    font-size: 1.25em;
    line-height: 1.25em;

    td {
      padding-bottom: .25em;
    }
  }

  .foreground {
    @include glass-background-alt;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.sg-digital-clock {
  background-color: rgba($sg-black, .8);
  box-shadow: 0 0 5px rgba($sg-black, .5);
  display: inline-block;
  font-family: 'DigitalMono', sans-serif;
  font-size: 2.5em;
  padding: .15em .25em;
  position: relative;

  .timer {
    left: 0;
    padding: .15em .25em;
    position: absolute;
    top: 0;
  }

  .open {
    color: rgb(20, 180, 20);
  }

  .closed {
    color: rgb(200, 20, 20);
  }

  .foreground {
    @include glass-background-alt;
    background-color: transparent; // override glass background settings
    height: 100%;
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.angular-google-map-container {
  height: 520px;
}

