.sg-contacts-main-body {
  height: 100%;
  margin-bottom: 2px;
  width: 100%;

  .content {
    margin: 10px 15px;

    table {
      margin: 0 auto;
      width: 100%;
    }

    tr:not(:last-child) {
      border-bottom: 1px solid $sg-silver;
    }

    td {
      padding: 10px;
    }

    td:first-of-type,
    td:last-of-type {
      text-align: center;
      width: 25%;
    }

    p {
      margin-bottom: 0;
    }

    .fa {
      color: desaturate($sg-winered, 40%);
      text-shadow: 0 0 4px rgba($sg-black, .5);
    }

    .fa-map-marker {
      cursor: pointer;
    }

    a {
      border-bottom: 1px dotted;
      color: $sg-blue;
      cursor: pointer;
    }
  }
}

.sg-digital-clock {
  background-color: rgba($sg-black, .8);
  box-shadow: 0 0 5px rgba($sg-black, .5);
  display: inline-block;
  font-family: 'DigitalMono', sans-serif;
  font-size: 2.5em;
  padding: 5px 15px;
  position: relative;

  .timer {
    left: 0;
    padding: 5px 15px;
    position: absolute;
    top: 0;
  }

  .open {
    color: rgb(20, 180, 20);
  }

  .closed {
    color: rgb(200, 20, 20);
  }

  .foreground {
    @include glass-background-alt;
    background-color: transparent; // override glass background settings
    height: 100%;
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.angular-google-map-container {
  height: 520px;
}

