.reset-column {
  padding-right: 0;
  text-align: center;

  @include on-sm-plus {
    padding-left: 30px;
  }

  .reset-button {
    @include on-sm-plus {
      @include red-glossy-background;
      border: $sg-silver 1px solid;
      border-radius: 5px;
    }

    &:active .fa {
      color: $sg-white;
      transform: scale(1.1);
      transition: all .25s;
    }
  }

  i {
    color: $sg-winered;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    text-shadow: 0 0 2px rgba($sg-black, .2);

    @include on-sm-plus {
      color: $sg-silver;
    }

  }
}

.goods-filters {
  // scss-lint:disable ImportantRule
  .fa-photo:not(.sg-multicolor) {
    color: $sg-black !important;
  }

  .btn.dropdown-toggle {
    @include white-glossy-background;
    text-shadow: 0 0 1px rgba($sg-black, .95);

    &:focus {
      outline-color: $sg-winered !important;
    }
  }
  // scss-lint:enable ImportantRule

  .bss-container {
    display: inline-block;
    width: 25%;

    @include on-lg {
      padding: 0 15px;
    }

    @include on-md {
      padding: 0 12px;
    }

    @include on-md {
      padding: 0 10px;
    }

    @include on-xs {
      padding: 0 5px;
    }
  }

  .btn-group.bootstrap-select {
    width: 100% !important;
  }
}

.goods-paginator {
  text-align: center;

  span {
    color: $sg-white;
    line-height: 80px;
    margin: 0 2em;
    text-shadow: 0 0 5px $sg-black;
    vertical-align: top;
  }

  select {
    @include black-glossy-background;
    color: $sg-white;
    display: inline-block;
    margin-top: 20px;
    vertical-align: top;

    option {
      color: $sg-black;
    }
  }

  ul {
    font: 16px/24px "Airborne";
  }

  li a {
    @include black-glossy-background;
    color: $sg-white;

    &:hover {
      color: $sg-winered;
    }
  }

  .active a,
  .active a:focus,
  .active a:hover {
    @include white-glossy-background;
    border-color: $sg-silver;
  }
}

.goods-list {
  list-style-type: none;
  padding: 0;

  li {
    margin-top: 10px;
  }
}

.good-block {
  display: block;
  height: 320px;
  text-align: center;

  img {
    border: $sg-silver 1px solid;
    box-shadow: 0 0 5px $sg-black;
    height: 250px;
    object-fit: cover;
    width: 250px;
  }

  .good-expand {
    color: rgba($sg-black, .45);
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    right: 5px;
    text-shadow: 0 0 2px rgba($sg-silver, .35);
    top: 3px;
    transform: rotate(90deg);
    z-index: 10;

    &:hover {
      color: $sg-black;
      transition: all .25s;
    }

    &:active {
      color: $sg-white;
      transform: rotate(90deg) scale(1.2);
      transition: all .25s;
    }

    &,
    &:focus,
    &:hover {
      outline: 0;
      text-decoration: none;
    }
  }

  .sg-blick {
    @include blicker;
    display: inline-block;
    height: 250px;
    width: 250px;

    &.sg-is-blicking {
      @include blicker-hover;
    }
  }

  .glass-block {
    @include glass-background-alt;

    cursor: pointer;
    height: 250px;
    margin: -250px auto 0;
    position: relative;
    width: 250px;
  }

  .good-reference {
    color: lighten($sg-silver, 15%);
    font-size: 1.6em;
    font-style: italic;
    margin-top: .3em;
    text-shadow: 0 0 4px $sg-black;
  }
}
