.reset-column {
  padding-right: 0;
  text-align: center;

  @include on-sm-plus {
    padding-left: 30px;
  }

  .reset-button {
    @include on-sm-plus {
      border: $sg-silver 1px solid;
      border-radius: 5px;
      @include red-glossy-background;
    }
  }

  i {
    color: $sg-winered;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    text-shadow: 0 0 2px rgba($sg-black, .2);

    @include on-sm-plus {
      color: $sg-silver;
    }

  }
}

.goods-filters {
  .fa-photo:not(.sg-multicolor) {
    color: $sg-black !important;
  }

  .btn.dropdown-toggle {
    color: $sg-white !important;
    @include white-glossy-background;

    &:focus {
      outline-color: $sg-winered !important;
    }
  }

  .bss-container {
    display: inline-block;
    width: 25%;

    @include on-lg {
      padding: 0 15px;
    }

    @include on-md {
      padding: 0 12px;
    }

    @include on-md {
      padding: 0 10px;
    }

    @include on-xs {
      padding: 0 5px;
    }
  }

  .btn-group.bootstrap-select {
    width: 100% !important;
  }
}

.goods-paginator {
  text-align: center;

  ul {
    font: 16px/24px "Airborne";
  }

  li a {
    @include black-glossy-background;
    color: $sg-white;

    &:hover {
      color: $sg-winered;
    }
  }

  .active a,
  .active a:focus,
  .active a:hover {
    @include white-glossy-background;
    border-color: $sg-silver;
  }
}

.goods-list {
  list-style-type: none;
  padding: 0;

  li {
    margin-top: 10px;
  }
}

.good-block {
  display: block;
  height: 320px;
  text-align: center;

  img {
    border: $sg-silver 1px solid;
    box-shadow: 0 0 5px $sg-black;
    height: 250px;
    object-fit: cover;
    width: 250px;
  }

  .sg-blick {
    @include blicker;
    display: inline-block;
    height: 250px;
    width: 250px;

    &.sg-is-blicking {
      @include blicker-hover;
    }
  }

  .glass-block {
    @include glass-background-alt;

    cursor: pointer;
    height: 250px;
    margin: -250px auto 0;
    position: relative;
    width: 250px;
  }

  .good-reference {
    cursor: pointer;
    color: lighten($sg-silver, 15%);
    font-size: 1.6em;
    font-style: italic;
    margin-top: .3em;
    text-shadow: 0 0 4px $sg-black;
  }
}
