.content {
  margin: 20px;

  p {
    text-align: justify;
    text-indent: 3em;
  }

  a {
    border-bottom: 1px dotted;
    color: $sg-blue;
    cursor: pointer;
  }

  .sg-photo {
    @include box-shadow(0 0 2px 1px rgba($sg-black, .15));
    background-color: rgba($sg-white, .5);
    margin: 10px;
    max-width: 50%;
    min-width: 50%;
    padding: 5px;
  }

  h4 {
    @include box-shadow(0 0 2px 1px rgba($sg-black, .1));
    background-color: rgba($sg-white, .25);
    margin: 5px 0;
    padding: 10px;
  }

  .half {
    box-sizing: border-box;
  }

  .full {
    max-width: 100%;
    min-width: 100%;
  }

  .left {
    float: left;
    margin-right: 35px;
  }

  .right {
    float: right;
    margin-left: 35px;
  }

  .panel-heading a {
    border-bottom: 0;
    color: $sg-black;
    outline: none;
    text-decoration: none;
  }

  .panel-open {
    background-color: rgba($sg-silver, .5);
    color: desaturate($sg-winered, 20%);
  }

  th,
  td {
    border: 1px rgba($sg-black, .5) solid;
    padding: 10px;
  }
}