.sg-about-main-body {
  // to equal columns
  @include on-xs-plus {
    margin-bottom: -99999px;
    padding: 20px 20px 99999px;
  }

  @include on-lg {
    min-height: calc(100% - 44px);
  }

  @include on-md {
    min-height: calc(100% - 39px);
  }

  @include on-sm {
    min-height: calc(100% - 33px);
  }

  @include on-xs {
    min-height: calc(100% - 22px);
  }

  p {
    text-align: justify;

    @include on-sm-plus {
      text-indent: 3em;
    }
  }

  a {
    border-bottom: 1px dotted;
    color: $sg-blue;
    cursor: pointer;
  }

  .sg-photo {
    background-color: rgba($sg-white, .5);
    box-shadow: 0 0 2px 1px rgba($sg-black, .15);
    max-width: 50%;
    min-width: 50%;

    @include on-sm-minus {
      margin: 5px;
      padding: 2px;
    }

    @include on-sm-plus {
      margin: 10px;
      padding: 5px;
    }
  }

  h3 {
    margin-top: 10px;

    @include on-sm-minus {
      font-size: 16px;
    }
  }

  h4 {
    background-color: rgba($sg-white, .25);
    box-shadow: 0 0 2px 1px rgba($sg-black, .1);
    margin: 5px 0;

    @include on-xs-minus {
      font-size: 14px;
      padding: 5px;
    }

    @include on-xs-plus {
      padding: 10px;
    }
  }

  .short {
    display: inline-block;
    min-width: 45%;
  }

  .half {
    box-sizing: border-box;
    float: left;

    @include on-sm-minus {
      max-width: calc(50% - 10px);
      min-width: calc(50% - 10px);
    }

    @include on-sm-plus {
      max-width: calc(50% - 20px);
      min-width: calc(50% - 20px);
    }
  }

  .half45 {
    box-sizing: border-box;
    float: left;

    @include on-sm-minus {
      max-width: calc(45% - 10px);
      min-width: calc(45% - 10px);
    }

    @include on-sm-plus {
      max-width: calc(45% - 35px);
      min-width: calc(45% - 35px);
    }
  }

  .full {
    max-width: calc(100% - 10px);
    min-width: calc(100% - 10px);
  }

  .left {
    float: left;

    @include on-sm-minus {
      margin-right: 10px;
    }

    @include on-sm-plus {
      margin-right: 35px;
    }
  }

  .right {
    float: right;

    @include on-sm-minus {
      margin-left: 10px;
    }

    @include on-sm-plus {
      margin-left: 35px;
    }
  }

  .panel-heading {
    @include on-sm-minus {
      padding: 5px;
    }

    a {
      border-bottom: 0;
      color: $sg-black;
      outline: none;
      text-decoration: none;
    }
  }

  .panel-title {
    @include on-sm-minus {
      font-size: 12px;
    }
  }

  .panel-open {
    background-color: rgba($sg-silver, .5);
    color: desaturate($sg-winered, 20%);
  }

  th,
  td {
    border: 1px rgba($sg-black, .5) solid;

    @include on-sm-minus {
      padding: 5px;
    }

    @include on-sm-plus {
      padding: 10px;
    }
  }

  .centered {
    text-align: center;
  }

  .miniature {
    box-shadow: 0 0 2px 1px rgba($sg-black, .1);
    background-color: rgba($sg-white, .7);
    cursor: pointer;
    display: inline-block;

    @include on-sm-minus {
      height: 146px;
      margin: 4px;
      padding: 3px;
      width: 146px;
    }

    @include on-sm-plus {
      height: 220px;
      margin: 10px;
      padding: 10px;
      width: 220px;
    }

    img {
      object-fit: cover;

      @include on-sm-minus {
        height: 140px;
        width: 140px;
      }

      @include on-sm-plus {
        height: 200px;
        width: 200px;
      }
    }

    &:after {
      color: rgba($sg-black, .5);
      content: '\F065';
      display: inline-block;
      font: 28px/32 'FontAwesome';
      height: 28px;
      margin-left: -35px;
      margin-top: -420px;
      position: absolute;
    }

    &:hover:after {
      text-shadow: 0 0 5px $sg-silver;
      color: rgba($sg-black, .9);
    }
  }
}
