.sg-about-main-body {
  // to equal columns
 @include on-xs-plus {
   margin-bottom: -99999px;
   padding: 20px 20px 99999px;
 }

  @include on-lg {
    min-height: calc(100% - 44px);
  }

  @include on-md {
    min-height: calc(100% - 39px);
  }

  @include on-sm {
    min-height: calc(100% - 33px);
  }

  @include on-xs {
    min-height: calc(100% - 22px);
  }


  p {
    text-align: justify;
    text-indent: 3em;
  }

  a {
    border-bottom: 1px dotted;
    color: $sg-blue;
    cursor: pointer;
  }

  .sg-photo {
    @include box-shadow(0 0 2px 1px rgba($sg-black, .15));
    background-color: rgba($sg-white, .5);
    margin: 10px;
    max-width: 50%;
    min-width: 50%;
    padding: 5px;
  }

  h4 {
    @include box-shadow(0 0 2px 1px rgba($sg-black, .1));
    background-color: rgba($sg-white, .25);
    margin: 5px 0;
    padding: 10px;
  }

  .short {
    display: inline-block;
    min-width: 45%;
  }

  .half {
    box-sizing: border-box;
    float: left;
    max-width: calc(50% - 20px);
    min-width: calc(50% - 20px);
  }

  .half45 {
    box-sizing: border-box;
    float: left;
    max-width: calc(45% - 35px);
    min-width: calc(45% - 35px);
  }

  .full {
    max-width: 100%;
    min-width: 100%;
  }

  .left {
    float: left;
    margin-right: 35px;
  }

  .right {
    float: right;
    margin-left: 35px;
  }

  .panel-heading a {
    border-bottom: 0;
    color: $sg-black;
    outline: none;
    text-decoration: none;
  }

  .panel-open {
    background-color: rgba($sg-silver, .5);
    color: desaturate($sg-winered, 20%);
  }

  th,
  td {
    border: 1px rgba($sg-black, .5) solid;
    padding: 10px;
  }

  .centered {
    text-align: center;
  }

  .miniature {
    @include box-shadow(0 0 2px 1px rgba($sg-black, .1));
    background-color: rgba($sg-white, .7);
    cursor: pointer;
    display: inline-block;
    height: 220px;
    margin: 10px;
    padding: 10px;
    width: 220px;

    img {
      height: 200px;
      object-fit: cover;
      width: 200px;
    }

    &:after {
      color: rgba($sg-black, .5);
      content: '\F065';
      display: inline-block;
      font: 28px/32 'FontAwesome';
      height: 28px;
      margin-left: -35px;
      margin-top: -420px;
      position: absolute;
    }

    &:hover:after {
      @include text-shadow(0 0 5px $sg-silver);
      color: rgba($sg-black, .9);
    }
  }
}
