@mixin on-lg {
  @media (min-width: #{$display-lg-width}) {
    @content;
  }
}

@mixin on-md {
  @media (min-width: #{$display-md-width}) and (max-width: #{$display-lg-width - 1px}) {
    @content;
  }
}

@mixin on-sm {
  @media (min-width: #{$display-sm-width}) and (max-width: #{$display-md-width - 1px}) {
    @content;
  }
}

@mixin on-sm-minus {
  @media (max-width: #{$display-sm-width - 1px}) {
    @content;
  }
}

@mixin on-sm-plus {
  @media (min-width: #{$display-sm-width}) {
    @content;
  }
}

@mixin on-xs {
  @media (min-width: #{$display-xs-width}) and (max-width: #{$display-sm-width - 1px}) {
    @content;
  }
}

@mixin on-xs-minus {
  @media (max-width: #{$display-xs-width - 1px}) {
    @content;
  }
}

@mixin on-xs-plus {
  @media (min-width: #{$display-xs-width}) {
    @content;
  }
}

@mixin vh-center {
  text-align: center;
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  & > * {
    display: inline-block;
    vertical-align: middle;
  }
}

@mixin blicker {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .4), rgba(255, 255, 255, .0) 70%);
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  transition-timing-function: step-start; // prevent animation effect on mouseleave
  transition: background-position 0s step-start;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}

@mixin blicker-hover {
  transition-propert: background-position;
  transition-timing-function: ease-in-out;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}