.sg-rating-block span {
  outline: none;
}

.sg-rating-block i {
  color: $sg-blue;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba($sg-silver, .75);
  user-select: none;
}

.sg-rate-paginator select {
  display: inline-block;
  margin: 20px 5px;
  vertical-align: top;
  width: auto;
}

.sg-rate-paginator span {
  display: inline-block;
  line-height: 32px;
  margin: 20px 15px 5px;
  vertical-align: top;
}

// Img crop container
.sg-cropped {
  border: 1px solid $sg-lightgray;
  height: 100px;
  object-fit: cover;
  width: 100px;
}

.sg-rating-block .glyphicon-star,
.sg-rating-block .glyphicon-star-empty {
  text-indent: .3em;
}
