.sg-translations-list {
  list-style-type: none;
  padding: 0;

  .source {
    background-color: whitesmoke;
  }

  .tr-doubt {
    background-color: rosybrown;
  }

  .tr-absent {
    background-color: mistyrose;
  }

  .tr-editing {
    background-color: palegoldenrod;
  }

  .tr-ready {
    background-color: #d7ffc1;
  }

}