.sg-layout-list {
  display: block;
  list-style: outside none none;
  padding: 0;

  li {
    display: list-item;
    margin-bottom: 10px;
  }
}

.sg-layout-block-outer {
  border: $sg-black 3px solid;
  border-radius: 3px;
  box-sizing: content-box;
  display: block;
  height: 250px;
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;

  img {
    border-bottom: 1px solid $sg-silver;
    border-radius: 3px;
    display: block;
    height: 150px;
    margin: 2px auto 5px;
    object-fit: cover;
    width: 150px;
  }

  &:hover {
    box-shadow: 3px 3px 3px 0 rgba($sg-black, .4);
  }

  &.selected {
    background-color: lightyellow;
    box-shadow: 1px 1px 1px 0 rgba($sg-black, .5);
  }

  &.selected:hover {
    background-color: lightyellow;
    box-shadow: 3px 3px 3px 0 rgba($sg-black, .4);
  }
}

.sg-layout-block-inner {
  border-color: $sg-black;
  border-radius: 3px;
  border-width: 3px;
  height: 250px;
}

.sg-layout-controls {
  height: 36px;
  margin-bottom: -18px;
}

.sg-layout-control {
  cursor: pointer;
  margin: 0 5px;
  opacity: .55;

  &:active {
    text-shadow: none;
    transform: scale(1.1);
    transition: all .1s;

    .fa,
    .fa-stack-2x {
      color: $sg-white;
      text-shadow: none;
      transition: all .1s;
    }
  }

  &:hover {
    opacity: 1;
  }
}

.sg-layout-comment-add {
  bottom: 45px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: -23px;
  width: 40px;
  z-index: 10;
}

.sg-layout-comments,
.sg-layout-published {
  color: $sg-silver;
  height: 40px;
  position: absolute;
  right: -30px;
  width: 50px;
  z-index: 10;
}

.sg-layout-published {
  top: 0;

  &:hover {
    cursor: pointer;
  }

  &:active {
    color: $sg-white;
    transform: scale(1.25);
    transition: all .25s;
  }

  .fa-eye {
    color: $sg-gold;
  }
}

.sg-layout-comments {
  top: 35px;
}

.sg-comments-number {
  color: $sg-white;
  font-size: 11px;
}
