.sg-header-container {
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

.header {
  width: 100%;

  @include on-lg {
    margin: 0 auto;
    width: 1200px;
  }

  #flag-container,
  .lang-selector {

    @include on-xs-minus {
      height: 16px;
      width: 40px;
    }

    @include on-xs {
      height: 16px;
      width: 48px;
    }

    @include on-sm {
      height: 28px;
      width: 64px;
    }

    @include on-md {
      height: 37px;
      width: 72px;
    }

    @include on-lg {
      height: 42px;
      width: 80px;
    }

    img {
      max-height: 100%;
      @include on-xs-minus {
        display: none;
      }
    }

    a,
    span {
      @include on-xs-plus {
        display: none;
      }
    }
  }
}

