.lang-switcher {
  backface-visibility: hidden;  // needed for Android browser
  border: 0;
  margin-left: -1px;
  opacity: .75;
  padding: 0;
  position: absolute;
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: .25s linear;

  &.visible {
    transform: scaleY(1);
    transition: .25s linear;
  }

  .lang-selector {
    // override usual settings
    cursor: pointer;
    display: block;

    @include black-glossy-background;

    @include on-xs {
      height: 16px;
      padding-top: 2px;
    }

    @include on-sm {
      height: 28px;
      padding-top: 4px;
    }

    @include on-md {
      height: 37px;
      padding-top: 6px;
    }

    @include on-lg {
      height: 43px;
      padding-top: 8px;
    }
  }
}
